<!DOCTYPE HTML>

<html lang="pl">


<head> 
	<title><%=title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/stylesheets/main.css' />
	<link rel="stylesheet" href='/icons/calc/css/fontello.css' />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
 </head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->

<nav>
		<ul class="navigation">
			<li> <a href="/">aMoney</a> </li>
		</ul>
</nav>

	<div class="container">
		

		<div class= "row" id ="row1">
			<h1>Kalkulator Walut</h1>
		</div>
		<div class="row" id="row2">
			<form id="calc" onsubmit="return false">
				<div class ="row" id="course">
			<% include partials/content/course.ejs %>
			</div>
			<div class="row" id="date">
				<% include partials/content/date.ejs %>
			</div>
			<br>
				<% include partials/content/text_input.ejs %>
			</form>	
		</div>
	</div>

	<footer> <% include partials/templemate/footer.ejs %> </footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/red.js"></script>
</body>

</html>