<!DOCTYPE HTML>

<html lang="pl">

<head> </head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->
	
	<header>Kontakt</header>

	<form action='/contact', name='contacto', id='contact', method='post'>
		<fieldset>
			<p>
				<label for='name'> Imie:
				<br>
				<input name='name' type='text' value='' id='name' />
			</p>
			<p>
				<label for='email'> Email:
				<br>
				<input name='email' type='email' value='' id='email' />
			</p>
			<p>
				<label for='message'> Wiadomość:
				<br>
				<textarea name='message' cols='40' rows='10' id='message'></textarea>
			</p>
		<input name='submit' type='submit' value='Wyslij' id='submit' />
		</fieldset>

	</form>

</body>

</html>