<!DOCTYPE HTML>

<html lang="pl">

<head> 
	<meta charset="utf-8"/>
	<meta name="Description">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href='/icons/search/css/fontello.css' />
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/menu.css">
	<link rel='stylesheet' href='/stylesheets/contact.css' />

	<title></title>
 </head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->
	
	<nav>
		<div id="dl-menu" class="dl-menuwrapper">
			<div class="navbar">
				<div class="amoney-link"><a href="/">aMoney</a></div>
				<h5><a href="kalkulator-walut">Kalkulator walut</a></h5>
			</div>
		</div>
	</nav>
	<div class="wrapper">
		<h2>Kontakt</h2>

		<form action='/contact', name='contacto', id='contact', method='post'>
			<div class="input">
				<input name='name' type='text' value='' id='name' placeholder="Imię"/>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="30px" viewBox="0 0 917.848 917.848" style="enable-background:new 0 0 917.848 917.848;" xml:space="preserve">
					<g>
						<path d="M275.22,564.726c-47.275,25.35-90.923,48.464-122.131,94.54c-27.799,41.041-43.044,89.913-43.044,139.514v99.068   c0,11.046,8.954,20,20,20h328.879h328.879c11.046,0,20-8.954,20-20v-99.068c0-49.601-15.245-98.473-43.044-139.514   c-31.208-46.076-74.856-69.19-122.131-94.54c-30.445-16.325-58.747-40.114-72.439-71.148   c87.53-41.646,148.039-130.889,148.039-234.273C718.228,116.094,602.134,0,458.924,0S199.62,116.094,199.62,259.304   c0,103.384,60.509,192.627,148.04,234.273C333.967,524.611,305.665,548.4,275.22,564.726z" fill="#f0f7fc"/>
					</g>
				</svg>

			</div>
			<div class="input">
				<input name='email' type='email' value='' id='email' placeholder="E-mail"/>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 330.001 330.001" style="enable-background:new 0 0 330.001 330.001;" xml:space="preserve" width="30px">
					<g id="XMLID_16_">
						<path id="XMLID_17_" d="M165.001,0c-90.981,0-165,74.018-165,164.997c0,90.983,74.019,165.004,165,165.004c8.284,0,15-6.716,15-15   c0-8.284-6.716-15-15-15c-74.44,0-135-60.563-135-135.004C30,90.56,90.561,30,165.001,30s135,60.56,135,134.997v37.507   c0,12.407-10.096,22.5-22.504,22.5c-12.406,0-22.499-10.093-22.499-22.5v-37.507c0-49.626-40.372-90-89.997-90   c-49.626,0-89.999,40.374-89.999,90c0,49.63,40.373,90.007,89.999,90.007c25.927,0,49.323-11.026,65.762-28.63   c8.706,16.978,26.379,28.63,46.734,28.63c28.951,0,52.504-23.551,52.504-52.5v-37.507C330,74.018,255.982,0,165.001,0z    M165.001,225.004c-33.084,0-59.999-26.919-59.999-60.007c0-33.084,26.915-60,59.999-60c33.083,0,59.997,26.916,59.997,60   C224.998,198.085,198.083,225.004,165.001,225.004z" fill="#F0F7FC"/>
					</g>
				</svg>

			</div>
			<div class="message-area">
				<textarea name='message' cols='40' rows='10' id='message' placeholder="Wiadomość..."></textarea>
				<button name='submit' type='submit' value='Wyslij' id='submit' />
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="30px">
						<path d="M30,1.5c-16.542,0-30,12.112-30,27c0,5.204,1.646,10.245,4.768,14.604c-0.591,6.537-2.175,11.39-4.475,13.689  c-0.304,0.304-0.38,0.769-0.188,1.153C0.275,58.289,0.625,58.5,1,58.5c0.046,0,0.092-0.003,0.139-0.01  c0.405-0.057,9.813-1.411,16.618-5.339C21.621,54.71,25.737,55.5,30,55.5c16.542,0,30-12.112,30-27S46.542,1.5,30,1.5z M16,32.5  c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S18.206,32.5,16,32.5z M30,32.5c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4  S32.206,32.5,30,32.5z M44,32.5c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S46.206,32.5,44,32.5z" />
					</svg>
				</button>
			</div>
		</form>
	</div>

</body>

</html>