<div class="footer-about">
    <div class="info">
        <ul>
            <li>Imię: <span>Łukasz</span></li>
            <li>Nazwisko: <span>Piątek</span></li>
            <li>Numer NIP: 7712779644</li>
            <li>Numer REGON: 147118354</li>
            <li>Firma przedsiębiorcy: <span>Łukasz Piątek</span> Incloud</li>
        </ul>
    </div>
    <div id="map"></div>
</div>
<ul class="footer-nav">
    <li class="about">O nas</li>
    <li><a href="/kontakt">Kontakt</a></li>
</ul>
