<div class="dl-menu-header">
        <div class="menu-btn">
            <div class="bar top-bar"></div>
            <div class="bar middle-bar"></div>
            <div class="bar bottom-bar"></div>
        </div>
        <h3>menu</h3>
    </div>
<div class="dl-menu-container">
    
    <ul class="dl-menu">
        <li><a href="kalkulator-walut">Kalkulator walut</a></li>
        <% categoriesDictionary.forEach( category => { %> 	 	
            <li class="category">
            <a href="#" class="category-link"><%=category%></a>
                <ul class="dl-submenu">
                    <% categoriesMap[category].forEach( subcategory => { %>
                    <li>
                        <a href="/finanse/<%=subcategory.replace(/ /g, '-')%>"><%=subcategory%></a>
                    </li>
                    <% }) %>
                </ul>
        <% }) %>
    </ul>
    <div class="line"></div>
</div>