<div class="dl-menu-header">
    <!--<h3>menu</h3>-->
    <div class="menu-btn">
        <div class="bar top-bar"></div>
        <div class="bar middle-bar"></div>
        <div class="bar bottom-bar"></div>
    </div>
</div>
<div class="dl-menu-container">
    <div class="inner-scroll">
    <ul class="dl-menu">
        <div class="inner-scroll">
            <% categoriesDictionary.forEach( category => { %> 	 	
                <li class="category">
                <a href="#" class="category-link"><%=category%></a>
                    <ul class="dl-submenu">
                        <div class="inner-scroll">
			<% if (categoriesMap[category].length) { %>
                            <% categoriesMap[category].forEach( subcategory => { %>
                            <li class="subcategory">
                                <a class="subcategory-link" href="/finanse/<%=subcategory.replace(/ /g, '-')%>?from=Menu"><%=subcategory%></a>
                            </li>
                            <% }) %>
			<% } %>
                        </div>
                    </ul>
            <% }) %>
            <li><a class="calc-link" href="/przelicznik-walut">Kalkulator walut</a></li>
        </div>
    </ul>
    <div class="line"></div>
    </div>
</div>
