<!DOCTYPE HTML>

<html lang="pl">


<head> 
	<title>Przelicznik Walut - Kalkulator Walut</title>
	<meta name="Description" content="Przelicznik Walut Na Podstawie Kursów Narodowego Banku Polskiego NBP. Szukasz Kursu Walut, Przeliczeń? Sprawdź Przelicznik Amoney">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href='/icons/calc/css/fontello.css' />
	<link rel="icon" type="image/png" href="icons/favicon.png">
	<link rel="stylesheet" href="stylesheets/css/calcStartPage.css">
</head>
<body class="calcMain">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->
	<div class="logo-container">
		<a href="/"><img class="logo" src="/images/logo.png" alt="aMoney"></a>
	</div>
	

	<div class="wrapper">
		<header>
		<h1>Kalkulator Walut</h1>
		<form id="calc">
			<div class="value">
				<% include partials/content/text_input.ejs %>
			</div>
			<div class="values">
				<div class ="course">
					<% include partials/content/course.ejs %>
				</div>
				<div class="date">
					<% include partials/content/date.ejs %>
				</div>
			</div>
		</form>	
		</header>
		<div class="banner">
			<a href="http://uki222.produktyfinansowe.pl/e/lead/1116/?source=lt" target="_blank"><img src="/images/banners/walutomat-logo.png"></a>
		</div>
	</div>
	<footer><% include partials/templemate/footer.ejs %></footer>
	<script src="javascripts/jquery-1.11.3.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/red.js"></script>
	<script>
      function initMap() {
        var uluru = {lat: 52.235765, lng: 21.0177286};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru,
          disableDefaultUI: true,
          zoomControl: true
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMfnryrSqfNlO6vbG6RgbyZDobT7K7Ips&callback=initMap">
    </script>
</body>

</html>