<!DOCTYPE HTML>

<html lang="pl">

<head> 
	<meta charset="utf-8"/>
	<meta name="Description">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href='/icons/search/css/fontello.css' />
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/css/menu.css">
	<link rel='stylesheet' href='/stylesheets/css/contact.css' />
	<link rel="icon" type="image/png" href="icons/favicon.png">
	<title></title>
 </head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZD6WP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZD6WP');</script>
<!-- End Google Tag Manager -->

	<div class="logo-container">
		<a href="/"><img class="logo" src="/images/logo.png" alt="aMoney"></a>
	</div>
	<div class="wrapper">
		<h2>Kontakt</h2>

		<form action='/kontakt', name='contacto', id='contact', method='post'>
			<input name='name' type='text' value='' id='name' placeholder="Imię"/>
			<input name='email' type='email' value='' id='email' placeholder="E-mail"/>
			<textarea name='message' cols='40' rows='10' id='message' placeholder="Wiadomość..."></textarea>
			<button name='submit' type='submit' value='Wyslij' id='submit'>Wyślij</button>
		</form>
	</div>

</body>

</html>