@font-face {
  font-family: latoRegular;
  src: url(/fonts/Lato/Lato-Regular.ttf); }
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.43;
  height: 100%;
  background: #2ca9ed;
  background: -moz-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2ca9ed), color-stop(64%, #2ca9ed), color-stop(100%, #84caef));
  background: -webkit-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -o-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -ms-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background-repeat: no-repeat;
  background-color: #2ca9ed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 ); }
  body .contact-link {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem; }
    body .contact-link:hover {
      border-bottom: 2px solid #ffffff;
      border-radius: 3px; }
    @media (min-width: 768px) {
      body .contact-link {
        font-size: 2rem; } }
  body .logo-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 15px; }
    body .logo-container a {
      text-align: center; }
      body .logo-container a .logo {
        width: 70%;
        text-align: center; }
  body .wrapper {
    font-family: latoRegular, sans-serif;
    width: 100%;
    margin-bottom: 60px; }
    @media (min-width: 1024px) {
      body .wrapper {
        top: 15%; } }
    body .wrapper header {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0 30px;
      margin-top: 20px; }
      body .wrapper header h1 {
        line-height: 1;
        color: #ffffff;
        font-size: 4.5rem;
        text-align: center;
        margin: 0;
        letter-spacing: -3px;
        margin-bottom: 10px; }
        @media (min-width: 425px) {
          body .wrapper header h1 {
            font-size: 6rem; } }
        @media (min-width: 768px) {
          body .wrapper header h1 {
            font-size: 7rem;
            margin-bottom: 20px;
            margin-top: 10px; } }
        @media (min-width: 1024px) {
          body .wrapper header h1 {
            font-size: 8rem; } }
      body .wrapper header #calc {
        margin-bottom: 50px; }
        body .wrapper header #calc .value {
          height: 35px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-top: 15px;
          width: 250px;
          margin-left: auto;
          margin-right: auto; }
          @media (min-width: 425px) {
            body .wrapper header #calc .value {
              width: 380px;
              margin-top: 35px; } }
          @media (min-width: 768px) {
            body .wrapper header #calc .value {
              width: 450px;
              height: 43px; } }
          @media (min-width: 1024px) {
            body .wrapper header #calc .value {
              width: 550px; } }
          body .wrapper header #calc .value input,
          body .wrapper header #calc .value button {
            border: none;
            margin: 0 !important; }
            body .wrapper header #calc .value input:focus,
            body .wrapper header #calc .value button:focus {
              outline: none; }
          body .wrapper header #calc .value input[type="number"] {
            width: 100%;
            margin: 0 5px;
            padding-left: 10px;
            font-size: 1.4rem;
            -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
            border-radius: 8px 0 0 8px; }
          body .wrapper header #calc .value button {
            background-color: #3d81da;
            color: #ffffff;
            padding: 5px 10px;
            cursor: pointer;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            font-size: 1.1rem;
            text-transform: uppercase;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
            @media (min-width: 768px) {
              body .wrapper header #calc .value button {
                padding: 10px 30px;
                font-size: 1.6rem; } }
            body .wrapper header #calc .value button:hover {
              background-color: #ffffff;
              color: #3d81da; }
        body .wrapper header #calc select {
          text-transform: uppercase;
          font-weight: 700;
          border: 0 !important;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: #ffffff url(/images/arrow-down.png) no-repeat 90% center;
          background-size: 10px;
          text-indent: 0.01px;
          text-overflow: "";
          color: #3d81da;
          padding: 5px;
          border-radius: 7px;
          height: 100%;
          padding-left: 20px;
          margin: 0 4px; }
          @media (max-width: 400px) {
            body .wrapper header #calc select {
              margin: 0; } }
          body .wrapper header #calc select:focus {
            outline: none; }
        body .wrapper header #calc .values {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          margin-top: 50px; }
          body .wrapper header #calc .values .course {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center; }
            body .wrapper header #calc .values .course button {
              height: 30px;
              border: none;
              border-radius: 7px;
              background-color: #3d81da;
              margin: 0 4px;
              margin-top: 10px; }
              @media (max-width: 400px) {
                body .wrapper header #calc .values .course button {
                  margin: 0;
                  margin-top: 10px; } }
              body .wrapper header #calc .values .course button .icon-exchange:before {
                color: #ffffff; }
            body .wrapper header #calc .values .course select {
              height: 30px;
              margin-top: 10px; }
          body .wrapper header #calc .values .date {
            height: 30px;
            margin-top: 10px; }
            @media (min-width: 768px) {
              body .wrapper header #calc .values .date {
                margin-top: 20px; } }
            body .wrapper header #calc .values .date select {
              width: 125px; }
            body .wrapper header #calc .values .date #year,
            body .wrapper header #calc .values .date #day {
              width: 70px; }
    body .wrapper .result {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 20px auto;
      border-radius: 10px;
      padding: 20px;
      max-width: 1400px; }
      @media (min-width: 768px) {
        body .wrapper .result {
          width: 75%; } }
      body .wrapper .result .rand-btn {
        min-width: 150px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; }
        @media (min-width: 768px) {
          body .wrapper .result .rand-btn {
            width: 20%; } }
        body .wrapper .result .rand-btn a {
          text-align: center;
          font-size: 1.5rem;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          border: 2px solid #3d81da;
          background-color: #3d81da;
          border-radius: 100%;
          width: 75px;
          height: 75px;
          color: #ffffff;
          text-decoration: none;
          font-family: somaticRounded, sans-serif;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          cursor: pointer; }
          body .wrapper .result .rand-btn a:hover {
            background-color: #ffffff;
            color: #3d81da; }
      body .wrapper .result h3 {
        font-size: 1.9rem;
        font-weight: 300;
        color: #3d81da; }
      body .wrapper .result .courses {
        background-color: #ffffff;
        flex-grow: 1;
        border-radius: 10px; }
        body .wrapper .result .courses h3 {
          margin-left: 10px;
          text-align: center; }
      body .wrapper .result .single-course {
        flex-grow: 2;
        max-width: 35%;
        min-width: 450px;
        text-align: center; }
        @media (min-width: 854px) {
          body .wrapper .result .single-course {
            text-align: left; } }
        @media (min-width: 1440px) {
          body .wrapper .result .single-course {
            min-width: 600px; } }
      body .wrapper .result #show {
        align-self: flex-start; }
        body .wrapper .result #show #resultarea {
          font-size: 1.3rem;
          padding-bottom: 10px;
          font-weight: 400; }
          @media (min-width: 768px) {
            body .wrapper .result #show #resultarea {
              box-shadow: none; } }
          @media (min-width: 1024px) {
            body .wrapper .result #show #resultarea {
              margin-left: 15px;
              margin-right: 20px; } }
          body .wrapper .result #show #resultarea ul {
            list-style-type: none;
            padding: 0; }
            body .wrapper .result #show #resultarea ul li {
              color: #000000; }
        body .wrapper .result #show #courseTable {
          max-height: 150px;
          overflow-y: auto;
          background-color: #ffffff;
          margin: 0 auto 16px auto;
          font-size: 1.15rem;
          font-weight: 400; }
          @media (min-width: 768px) {
            body .wrapper .result #show #courseTable {
              font-size: 1.3rem; } }
          body .wrapper .result #show #courseTable ul {
            margin-top: 0;
            list-style-type: none;
            padding: 0;
            text-align: center; }
  body footer {
    font-family: latoRegular, sans-serif;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(244, 251, 254, 0.9);
    text-align: right;
    padding: 3px; }
    body footer.bottom {
      position: fixed;
      bottom: 0; }
    body footer ul {
      list-style: none;
      padding: 0; }
    body footer .footer-about {
      font-size: 1.4rem;
      position: absolute;
      right: 0;
      text-align: left;
      padding: 10px 30px;
      background-color: rgba(244, 251, 254, 0.9);
      border-radius: 8px 8px 0 0;
      border-bottom: 1px solid #3498db;
      bottom: -450px; }
      @media (min-width: 567px) {
        body footer .footer-about {
          bottom: -250px; } }
      body footer .footer-about .info {
        float: left;
        margin-right: 20px; }
        body footer .footer-about .info ul li {
          margin-bottom: 10px; }
          body footer .footer-about .info ul li:last-child {
            margin-bottom: 0; }
          body footer .footer-about .info ul li span {
            text-transform: uppercase; }
      body footer .footer-about #map {
        width: 200px;
        height: 200px;
        background-color: grey; }
        @media (max-height: 410px) {
          body footer .footer-about #map {
            display: none; } }
    body footer ul.footer-nav {
      margin-right: 30px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end; }
      body footer ul.footer-nav li {
        max-width: 50px;
        margin-right: 10px;
        font-size: 1.8rem;
        color: #77c9f6; }
        body footer ul.footer-nav li:hover {
          color: #23a7f0; }
        body footer ul.footer-nav li a {
          color: #77c9f6;
          text-decoration: none; }
          body footer ul.footer-nav li a:hover {
            color: #23a7f0; }

/*# sourceMappingURL=converter.css.map */
