<!DOCTYPE html>
<html ng-app="myApp">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="ckeditor/ckeditor.js"></script>
  <title>Amoney CMS</title>
</head>
<body>
    <div class="container" ng-controller="AppCtrl">
        <h1>Amoney CMS, {{products.length}}</h1>
        <div class="row">
            <table class="table">
              <thead>
                <tr>
                    <th>products list</th>
                    <th></th>
                    <th></th>
                    <th>cateogory</th>         
                    <th>subcategory</th>
                    <th>name</th>
                    <th>provider</th>
                    <th>logo</th>
                    <th>prez</th>         
                    <th>application</th>
                    <th>alive</th>
                    <th>updated</th>
                    <th>&nbsp;</th>
                </tr>
              </thead>
                <tr>
                    <td>
                    <select class="form-control" ng-model="products.model">
                    <option ng-repeat="product in products | orderBy:'-updated'" value="{{product._id}}">{{product.name}} {{product.provider}} {{product.updated? '&#10004' : ''}}</option>
                    </select>
                    </td>
                    <td> <label><button class="btn btn-danger" ng-click="remove(products.model)">Remove</button></label></td>
                    <td><label><button class="btn btn-warning" ng-click="edit(products.model)">Edit</button></label></td>
                    <td><input class="form-control" ng-model="product.category"></td>
                    <td><input class="form-control" ng-model="product.subcategory"></td>
                    <td><input class="form-control" ng-model="product.name"></td>
                    <td><input class="form-control" ng-model="product.provider"></td>
                    <td><input class="form-control" ng-model="product.logo"></td>
                    <td><input class="form-control" ng-model="product.prez"></td>
                    <td><input class="form-control" ng-model="product.application"></td>
                    <td><input type="checkbox" class="form-control" ng-model="product.alive"></td>
                    <td><input type="checkbox" class="form-control" ng-model="product.updated"></td>
                    <td><button class="btn btn-primary" ng-click="addproduct()">Add product</button></td>
                    <td><button class="btn btn-info" ng-click="update()">Update</button></td>
                </tr>
            </table>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <label>Short description</label>
                    <textarea ck-editor class="form-control" rows="10 " ng-model="product.description"></textarea>
                </div>
                <div class="col-md-6">
                    <label>Long description</label> 
                    <textarea ck-editor  class="form-control" type="textarea" ng-model="product.longDescription" ckeditor> </textarea>
                </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="core.js"></script>
</body>
</html>