$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$menuColorText: #f0f7fc;
$mainBlue: rgba(52, 152, 219, 1);
$lightestBlue: #f0f7fc;
$lightBlue: rgba(133, 196, 237, 1);
$black: #000000;
$white: #ffffff;

@mixin flexbox($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}
@mixin placeholder($color) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

@font-face {
    font-family: latoRegular;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    background: rgba(44,169,237,1);
    background: -moz-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(44,169,237,1)), color-stop(64%, rgba(44,169,237,1)), color-stop(100%, rgba(132,202,239,1)));
    background: -webkit-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -o-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 );
    .logo-container {
        @include flexbox(row, nowrap);
        justify-content: center;
        margin-top: 15px;
        a {
            text-align: center;
            .logo {
                width: 70%;
                text-align: center;
            }
        }
    }
    .wrapper {
        margin: 0 15px;
        margin-bottom: 30px;
        h2 {
            text-align: center;
            margin: 0;
            margin-top: 30px;
            font-size: 3rem;
            font-weight: 100;
            font-family: latoRegular, sans-serif;
            font-weight: 800;
            color: $white;
            @media(min-width: 375px) {
                font-size: 4rem;
            }
            @media(min-width: 768px) {
                font-size: 6rem;
            }
        }
        form {
            @include flexbox(column, nowrap);
            align-items: center;
            width: 100%;
            input {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                height: 30px;
                margin-top: 20px;
                width: 100%;
                max-width: 660px;
                border-radius: 7px;
                border: none;
                padding: 0 15px;
                @media(min-width: 1024px) {
                    height: 37px;
                }
                @media(min-width: 1300px) {
                    height: 43px;
                }
            }
            textarea {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                margin-top: 30px;
                width: 100%;
                max-width: 660px;
                border-radius: 7px;
                border: none;
                padding: 5px 15px;
                height: 250px;
                @media(min-width: 1024px) {
                    height: 300px;
                }
                @media(min-width: 1300px) {
                    height: 420px;
                }
            }
            button {
                height: 40px;
                width: 120px;
                border: 2px solid $white;
                border-radius: 40px;
                background-color: transparent;
                color: $white;
                font-size: 1.3rem;
                margin-top: 25px;
                cursor: pointer;
                @include transition(.2s);
                @media(min-width: 1024px) {
                    height: 50px;
                    width: 160px;
                }
                @media(min-width: 1300px) {
                    height: 60px;
                    width: 180px;
                }
                &:hover {
                    background-color: $white;
                    color: #3d81da;
                }
            }
        }
    }
}