$backgroundColor: #ecf0f1;
$white: #ffffff;
$black: #000000;
$alizarin: #e74c3c;
$mainBlue: rgba(52, 152, 219, 1);
$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$lightBlue: rgba(133, 196, 237, 1);
$menuColorText: #f0f7fc;

@font-face {
    font-family: latoRegular;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

@mixin flexbox ($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: $direction $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    background: rgba(44,169,237,1);
    background: -moz-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(44,169,237,1)), color-stop(64%, rgba(44,169,237,1)), color-stop(100%, rgba(132,202,239,1)));
    background: -webkit-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -o-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 );
    .contact-link {
        position: absolute;
        right: 10px;
        top: 10px;
        text-decoration: none;
        color: $white;
        font-size: 1.4rem;
        &:hover {
            border-bottom: 2px solid $white;
            border-radius: 3px;
        }
        @media(min-width: 768px) {
            font-size: 2rem;
        }
    }
    .logo-container {
        @include flexbox(row, nowrap);
        justify-content: center;
        margin-top: 15px;
        a {
            text-align: center;
            .logo {
                width: 70%;
                text-align: center;
            }
        }
    }
    .wrapper {
        .search-result {
            h2 {
                text-align: center;
                margin: 0;
                margin-top: 40px;
                font-size: 3rem;
                font-weight: 100;
                font-family: latoRegular, sans-serif;
                font-weight: 800;
                color: $white;
                @media(min-width: 375px) {
                    font-size: 4rem;
                }
                @media(min-width: 768px) {
                    font-size: 6rem;
                }
            }
            .products {
                @include flexbox(column, nowrap);
                margin-top: 30px;
                margin: 0 17px;
                .single-product {
                    max-width: 400px;
                    font-family: latoRegular, sans-serif;
                    @include flexbox(column, nowrap);
                    align-items: center;
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
                    //height: 350px;
                    //padding: 0 30px;
                    background-color: rgba(255, 255, 255, .8);
                    margin: 10px auto;
                    width: 100%;
                    position: relative;
                    border-radius: 20px;
                    @media(min-width: 768px) {
                        flex-direction: row;
                        min-height: 225px;
                        max-width: 1000px;
                        justify-content: space-between;
                    }
                    @media(min-width: 1024px) {
                        min-height: 255px;
                    }
                    @media(min-width: 1470px) {
                        max-width: 1470px;
                    }
                    .img-wrapper {
                        width: 150px;
                        @include flexbox(row, nowrap);
                        justify-content: center;
                        align-items: center;
                        margin-top: 15px;
                        @media(min-width: 768px) {
                            margin: 0 40px;
                        }
                        @media(min-width: 1024px) {
                            margin: 0 50px;
                        }
                    }
                    .desc {
                        @media(min-width: 768px) {
                            flex-grow: 2;
                        }
                        h4 {
                            font-family: latoRegular, sans-serif;
                            font-size: 2.3rem;
                            font-weight: 100;
                            color: #0665A2;
                            margin: 15px;
                            text-align: center;
                            @media(min-width: 768px) {
                                text-align: left;
                            }
                        }
                        .info {
                            text-align: left;
                            overflow-y: hidden;
                            position: relative;
                            min-height: 117px;
                            overflow-x: hidden;
                            @media(min-width: 425px) {
                                margin: 15px 0 15px 20px;
                                flex-grow: 2;
                            }
                            ul {
                                padding-right: 15px;
                                height: 100%;
                                margin: 0;
                                font-size: 1.4rem;
                                padding-left: 30px;
                                list-style-position: 2px;
                                color: #344c43;
                                line-height: 1.8rem;
                                overflow-x: hidden;
                            }
                            small {
                                display: none;
                            }
                        }
                    }
                    .buttons-container {
                        //width: 150px;
                        margin-top: 28px;
                        margin-bottom: 15px;
                        @include flexbox(row, nowrap);
                        align-items: center;
                        justify-content: center;
                        //margin: 30px 0 30px 30px;
                        @media(min-width: 768px) {
                            @include flexbox(column, nowrap);
                            border-left: 1px solid #344c43;
                            padding: 0 20px;
                        }
                        .button {
                            //height: 43px;
                            width: 128px;
                            background: none;
                            border: 2px solid #3d81da;
                            border-radius: 40px;
                            font-size: 1.4rem;
                            color: #3d81da;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            padding: 15px 0;
                            @include transition(.3s);
                            &.read-more {
                                margin-left: 5px;
                                &:hover {
                                    background-color: #3d81da;
                                    color: $white;
                                }
                            }
                            &.apply-now {
                                margin-right: 5px;
                                color: $white;
                                background-color: #3d81da;
                                &:hover {
                                    background-color: transparent;
                                    color: #3d81da;
                                }
                            }
                            @media(min-width: 768px) {
                                width: 160px;
                                //height: 53px;
                                font-size: 1.5rem;
                                padding: 20px 0;
                                &.read-more {
                                    margin-top: 15px;
                                    margin-left: 0;
                                }
                                &.apply-now {
                                    margin-bottom: 15px;
                                    margin-right: 0;
                                }
                            }
                            @media(min-width: 1024px) {
                                width: 220px;
                                //height: 73px;
                                font-size: 1.8rem;
                                padding: 30px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}