$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$menuColorText: #f0f7fc;
$mainBlue: rgba(52, 152, 219, 1);
$lightestBlue: #f0f7fc;
$lightBlue: rgba(133, 196, 237, 1);
$black: #000000;
$white: #ffffff;

@font-face {
    font-family: latoRegular;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

@mixin flexbox ($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: $direction $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

body {
    background: rgba(44,169,237,1);
    background: -moz-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(44,169,237,1)), color-stop(64%, rgba(44,169,237,1)), color-stop(100%, rgba(132,202,239,1)));
    background: -webkit-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -o-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background: linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
    background-repeat: no-repeat;
    background-color: #2ca9ed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 );
    .contact-link {
        position: absolute;
        right: 10px;
        top: 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.4rem;
        &:hover {
            border-bottom: 2px solid #ffffff;
            border-radius: 3px;
        }
        @media(min-width: 768px) {
            font-size: 2rem;
        }
    }
    header {
        @include flexbox(row, nowrap);
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999999;
        padding: 10px 20px;
        //background-color: #2ca9ed;
        //box-shadow: 0 0px 4px 1px rgba(255, 255, 255, 0.8);
    }
    #logoAndSearch {
        @include flexbox(column, nowrap);
        margin-top: 10px;
        width: 100%;
        align-items: center;
        @media(min-width: 600px) {
            flex-direction: row;
            align-items: center;
            margin-top: 0;
        }
        .logo-container {
            @include flexbox(row, nowrap);
            justify-content: center;
            //margin-top: 10px;
            //width: 100%;
            //margin: 10px auto;
            width: 50%;
            margin-right: 20px;
            //margin-bottom: 10px;
            a {
                text-align: left;
                .logo {
                    width: 100%;
                    text-align: left;
                }
            }
            @media(min-width: 600px) {
                width: 20%;
            }
            @media(min-width: 768px) {
                //float: left;
                //width: 25%;
                //max-width: 700px;
            }
        }
        .search {
            @include flexbox(row, nowrap);
            justify-content: space-between;
            flex-grow: 2;
            width: 100%;
            border-radius: 20px;
            //margin: 0 auto;
            //margin-top: 15px;
            margin-top: 25px;
            max-height: 35px;
            @media(min-width: 600px) {
                margin-right: 40px;
                margin-top: 0;
                //margin-left: 0; 
                //width: 45%;
                max-width: 500px;
                //max-height: 35px;
                input,button {
                    max-height: 35px;
                }
            }
            @media(min-width: 768px) {
                max-height: 40px;
                input,button {
                    max-height: 40px;
                }
            }
            input,
            button {
                border: none;
                margin: 0 !important;
                &:focus {
                    outline: none;
                }
                
            }
            input[type="text"] {
                width: 100%;
                margin: 0 5px;
                padding-left: 10px;
                font-size: 1.4rem;
                -webkit-box-shadow: 0 0 0px 1000px $white inset;
                //@include placeholder(#000000); //coś nie działa
                border-radius: 8px 0 0 8px;
                &.ui-menu-open {
                    border-bottom-left-radius: 0;
                }
            }
            button {
                background-color: $white;
                color: $lightestBlue;
                padding: 0px 10px;
                cursor: pointer;
                @include transition(.2s);
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;
                height: 35px;
                &.ui-menu-open {
                    border-bottom-right-radius: 0;
                }
                svg {
                    fill: #4183d7;
                    width: 25px;
                    transform: rotateY(180deg);
                    @include transition(.2s);
                    @media(min-width: 768px) {
                        padding: 2px;
                        height: 35px;
                        width: 35px;
                    }
                }
                @media(min-width: 768px) {
                    height: 40px;
                }
                @media(min-width: 1024px) {
                    height: 45px;
                }
            }
        }
    }
    .wrapper {
        margin: 0 10px;
        margin-top: 40px; 
        @media(min-width: 768px) {
            height: 65vh;
        }
        h4 {
            font-size: 2.1rem;
            font-weight: 300;
            color: #0665A2;
        }
        .search-result {
            @include flexbox(column, nowrap);
            @media(min-width: 768px) {
                flex-direction: row;
                height: 100%;
                justify-content: space-around;
            }
            .button {
                text-decoration: none;
                //height: 50px;
                padding: 20px 0;
                text-align: center;
                width: 150px;
                background: none;
                border: 2px solid #3d81da;
                border-radius: 40px;
                font-size: 1.4rem;
                color: #3d81da;
                cursor: pointer;
                @include transition(.3s);
            }
            .whole-product {
                height: 400px;
                background-color: rgba(255, 255, 255, .8);
                border-radius: 20px;
                padding: 24px;
                position: relative;
                font-family: latoRegular, sans-serif;
                overflow-y: auto;
                @media(min-width: 768px) {
                    width: 60%;
                    height: 89%;
                    margin-left: 10px;
                }
                .img-wrapper {
                    position: absolute;
                    top: 25px;
                    right: 50px;
                }
                .info {
                    padding-bottom: 50px;
                    margin-top: 75px;
                    h1 {
                        font-size: 2.3rem;
                        color: #0665A2;
                        margin: 0;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
                .button {
                    position: fixed;
                    top: 500px;
                    left: 30px;
                    background-color: #3d81da;
                    color: #ffffff;
                    -webkit-box-shadow: 0px 10px 1px 1px rgba(0,0,0,0.28);
                    -moz-box-shadow: 0px 10px 1px 1px rgba(0,0,0,0.28);
                    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.28);
                    @media (max-height: 540px) {
                        top: 70%;
                    }
                    @media(min-height: 768px) {
                        top: 70%
                    }
                    @media(min-width: 768px) {
                        top: 75%;
                    }
                    @media(min-height: 900px) {
                        top: 65%
                    }
                    &:hover {
                        background-color: #cee9fb;
                        color: #3d81da;
                    }
                    &.stop {
                        position: absolute;
                        top: 380px;
                    }
                }
            }
            .line {
                width: 70%;
                //height: 1px;
                //background-color: #344c43;
                border-bottom: 1px solid #344c43;
                margin: 0 auto;
                margin-top: 30px;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
                @media(min-width: 768px) {
                    display: none;
                }
            }
            .products {
                font-family: latoRegular, sans-serif;
                /*display: block;*/
                margin-top: 30px;
                @media(min-width: 768px) {
                    //height: 95%;
                    overflow-y: auto;
                    margin-top: 0;
                    margin-left: 10px;
                    width: 40%;
                }
                .single-product {
                    max-width: 400px;
                    font-family: latoRegular, sans-serif;
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
                    background-color: rgba(255, 255, 255, .8);
                    margin: 10px auto;
                    width: 100%;
                    position: relative;
                    border-radius: 20px;
                    min-height: 250px;
                    @include flexbox(column, nowrap);
                    align-items: center;
                    @media(min-width: 1024px) {
                        flex-direction: row;
                        margin: 0 0 30px 0;
                        max-width: 475px;
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    .img-and-btns {
                        @include flexbox(column, nowrap);
                        align-items: center;
                        margin: 20px;
                        .img-wrapper {
                            @include flexbox(row, nowrap);
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 10px;
                            @media(min-width: 768px) {
                                margin-bottom: 28px;    
                            }
                            img {
                                //width: 100%;
                            }
                        }
                        .buttons-container {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            @include flexbox(row, nowrap);
                            align-items: center;
                            justify-content: center;
                            @media(min-width: 1024px) {
                                flex-direction: column;
                                margin-top: 28px;
                                margin-bottom: 15px;
                                justify-content: space-around;
                            }
                            .button {
                                //height: 43px;
                                width: 128px;
                                background: none;
                                border: 2px solid #3d81da;
                                border-radius: 40px;
                                font-size: 1.4rem;
                                color: #3d81da;
                                cursor: pointer;
                                text-align: center;
                                text-decoration: none;
                                padding: 15px 0;
                                @include transition(.3s);
                                &.read-more {
                                    margin-right: 5px;
                                    @media (min-width: 1024px) {
                                        margin-right: 0;
                                        margin-bottom: 5px;
                                    }
                                    &:hover {
                                        background-color: #3d81da;
                                        color: $white;
                                    }
                                }
                                &.apply-now {
                                    margin-left: 5px;
                                    color: $white;
                                    background-color: #3d81da;
                                    @media (min-width: 1024px) {
                                        margin-left: 0;
                                        margin-top: 5px;
                                    }
                                    &:hover {
                                        background-color: transparent;
                                        color: #3d81da;
                                    }
                                }
                            }
                        }
                    }
                    .info {
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        padding: 0 10px;
                        position: relative;
                        min-height: 100px;
                        overflow-y: hidden;
                        overflow-x: hidden;
                        @media(min-width: 1024px) {
                            margin: 0 10px 35px 0;
                        }
                        /*.inner-scroll {
                            width: 100%;
                            height: 100%;
                            overflow-y: auto;
                            padding-right: 15px;*/
                            h4 {
                                margin-bottom: 20px;
                                margin-top: 0;
                                @media(min-width: 1024px) {
                                    margin-top: 28px;
                                }
                            }
                            ul {
                                font-size: 1.2rem;
                                padding-left: 20px;
                                list-style-position: 2px;
                                color: #344c43;
                                line-height: 1.8rem;
                                color: #344c43;
                                overflow-x: hidden;
                            }
                            small {
                                display: none;
                            }
                        //}
                    }
                }
            }
        }
    }
    footer {
            box-sizing: border-box;
            //position: relative;
            bottom: 0;
            width: 100%;
            background-color: rgba(244, 251, 254, 0.9);
            text-align: right;
            padding: 5px;
                &.bottom {
                position: fixed;
                bottom: 0;
            }
            ul {
                list-style: none;
                padding: 0;
            }
            .footer-about {
                font-family: latoRegular, sans-serif;
                font-size: 1.4rem;
                position: fixed;
                right: 0;
                //bottom: 100%;
                text-align: left;
                padding: 10px 30px;
                background-color: rgba(244, 251, 254, 0.9);
                border-radius: 8px 8px 0 0;
                border-bottom: 1px solid $mainBlue;
                bottom: -450px;
                z-index: 99999999;
                @media(min-width: 567px) {
                    bottom: -250px;
                }
                .info {
                    float: left;
                    margin-right: 20px;
                    ul {
                        li {
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            span {
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                #map {
                    width: 200px;
                    height: 200px;
                    background-color: grey;
                    @media(max-height: 410px) {
                        display: none;
                    }
                }
            }
            ul.footer-nav {
                margin-right: 30px;
                @include flexbox(row, nowrap);
                justify-content: flex-end;
                li {
                    max-width: 50px;
                    &:hover {
                        color: #23a7f0;
                    }
                        font-size: 1.8rem;
                        color: #77c9f6;
                }
            }
        }
}