html {
  height: 100%; }
  html body {
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    height: 100%; }
    html body .wrapper {
      position: absolute;
      top: 25%;
      width: 100%; }
      @media (min-width: 1024px) {
        html body .wrapper {
          top: 25%; } }
      html body .wrapper header {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 30px; }
        html body .wrapper header h1 {
          color: #0665a2;
          font-size: 4.5rem;
          text-align: center;
          font-weight: 100;
          margin: 0;
          letter-spacing: -3px; }
          @media (min-width: 425px) {
            html body .wrapper header h1 {
              font-size: 6rem; } }
          @media (min-width: 768px) {
            html body .wrapper header h1 {
              font-size: 8rem;
              margin-bottom: 10px; } }
          @media (min-width: 1024px) {
            html body .wrapper header h1 {
              font-size: 10rem; } }
        html body .wrapper header #calc {
          margin-bottom: 50px; }
          html body .wrapper header #calc .value {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            border: 1px solid #0665a2;
            margin-top: 15px;
            width: 250px; }
            @media (min-width: 425px) {
              html body .wrapper header #calc .value {
                width: 380px; } }
            @media (min-width: 768px) {
              html body .wrapper header #calc .value {
                width: 450px; } }
            html body .wrapper header #calc .value input,
            html body .wrapper header #calc .value button {
              border: none;
              margin: 0 !important; }
              html body .wrapper header #calc .value input:focus,
              html body .wrapper header #calc .value button:focus {
                outline: none; }
            html body .wrapper header #calc .value input[type="number"] {
              width: 100%;
              margin: 0 5px;
              padding-left: 10px;
              font-size: 1.4rem;
              -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; }
            html body .wrapper header #calc .value button {
              background-color: #3498db;
              color: #f0f7fc;
              padding: 5px 10px;
              border-left: 1px solid #0665a2;
              cursor: pointer;
              -webkit-transition: 0.2s ease-in-out;
              -moz-transition: 0.2s ease-in-out;
              transition: 0.2s ease-in-out; }
              html body .wrapper header #calc .value button svg {
                fill: #f0f7fc;
                width: 25px;
                -webkit-transition: 0.2s ease-in-out;
                -moz-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out; }
              @media (min-width: 768px) {
                html body .wrapper header #calc .value button {
                  padding: 10px 15px; } }
              html body .wrapper header #calc .value button:hover {
                background-color: #f0f7fc; }
                html body .wrapper header #calc .value button:hover svg {
                  fill: #3498db; }
          html body .wrapper header #calc select {
            border: 0 !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #ffffff url(../images/arrow-down.png) no-repeat 90% center;
            background-size: 10px;
            width: 100px;
            text-indent: 0.01px;
            text-overflow: "";
            color: #0665a2;
            border-radius: 15px;
            padding: 5px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            border-radius: 0;
            height: 100%; }
            html body .wrapper header #calc select:focus {
              outline: none; }
          html body .wrapper header #calc .values {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px; }
            html body .wrapper header #calc .values .course {
              height: 30px; }
              html body .wrapper header #calc .values .course button {
                border: none;
                border-radius: 0;
                height: 100%;
                background-color: #ffffff; }
              html body .wrapper header #calc .values .course select {
                width: 60px; }
            html body .wrapper header #calc .values .date {
              height: 30px;
              margin-top: 10px; }
              html body .wrapper header #calc .values .date #year,
              html body .wrapper header #calc .values .date #day {
                width: 50px; }
              @media (min-width: 768px) {
                html body .wrapper header #calc .values .date {
                  margin-top: 0; } }
            @media (min-width: 768px) {
              html body .wrapper header #calc .values {
                flex-direction: row;
                justify-content: space-around; } }
    html body footer {
      width: 100%;
      height: 50px;
      background-color: #0665a2;
      text-align: right;
      padding: 10px;
      position: fixed;
      bottom: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center; }
      html body footer a {
        font-size: 1.3rem;
        color: #f0f7fc;
        text-decoration: none; }

/*# sourceMappingURL=calcStartPage.css.map */
