$white: #ffffff;
$black: #000000;
$secondaryColor: #ecf0f1;
$grey: #7f8c8d;
$mainBlue: rgba(52, 152, 219, 1);
$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$menuColorText: #f0f7fc;
$yellow: #FFC930;
$brighterYellow: #FFD459;
@mixin flexbox ($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}
@mixin placeholder($color) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

html {
    font-size: 62.5%;
    body {
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: "Helvetica Neue",'Roboto',Helvetica,Arial,sans-serif;
        margin: 0;
        padding: 0;
        nav {
            max-height: 100%;
            position: fixed;
            z-index: 9999;
            //background-color: $mainBlue;
            width: 100%;
            top: 0;
            &.nav-open {
                overflow-y: auto;
                background-color: rgba(255, 255, 255, 1);
            }
            ul {
                list-style-type: none;
                padding: 0;
                text-align: center;
            }
            .dl-menuwrapper {
                .navbar {
                    background-color: rgba(255, 255, 255, .5);
                    width: 100%;
                    height: 50px;
                    @include flexbox(row, nowrap);
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                    border: none;
                    color: $menuColorText;
                    .menu-btn {
                        width: 40px;
                        padding: 5px;
                        cursor: pointer;
                        //margin-right: auto;
                        .top-bar,
                        .middle-bar,
                        .bottom-bar {
                            width: 90%;
                            border-radius: 5px;
                            height: 4px;
                            background-color: #4183d7;
                            margin: 4px auto;
                            @include transition(.6s);
                        }
                        .top-bar-close {
                            transform: translateY(8px) rotate(405deg);
                        }
                        .middle-bar-close {
                            width: 0;
                        }
                        .bottom-bar-close {
                            transform: translateY(-8px) rotate(-405deg);
                        }
                        .top-bar-arrow {
                            width: 50%;
                            transform: translateX(-2px) translateY(4px) rotate(135deg);
                            @include transition(.2s);
                        }
                        .middle-bar-arrow {
                            width: 90%;
                            transform: translateX(8px);
                            @include transition(.2s);
                        }
                        .bottom-bar-arrow {
                            width: 50%;
                            transform: translateX(-2px) translateY(-4px) rotate(-135deg);
                            @include transition(.3s);
                        }
                    }
                    .amoney-link {
                        margin-left: 10px;
                        a {
                            text-decoration: none;
                            font-size: 2rem;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            color: $menuColorText;
                        }
                        @media(min-width: 425px) {
                            display: block;
                            flex-grow: 2;
                            margin-left: 10px;
                        }
                    }
                    h5 {
                        margin-right: 10px;
                        a {
                            color: #4183d7;
                            font-weight: 300;
                            font-size: 1.8rem;
                            text-decoration: none;
                            display: block;
                            letter-spacing: .1px;
                        }
                    }
                    .search {
                        height: 30px;
                        margin-right: 5px;
                        @media(min-width: 425px) {
                            background-color: #0F85D1;
                            border: 1px solid #0665A2;
                            width: 200px;
                            @include flexbox(row, nowrap);
                            justify-content: space-between;
                        }
                        @media(min-width: 768px) {
                            width: 250px;
                        }
                        form {
                            height: 100%;
                            width: 70%;
                            margin-right: 5px;
                            display: none;
                            @media(min-width: 425px) {
                                @include flexbox(row, nowrap);
                                width: 100%;
                            }
                            &.form-active {
                                @include flexbox(row, nowrap);
                                justify-content: space-between;
                                width: 100%;
                            }
                            input {
                                -webkit-box-shadow: 0 0 0px 1000px #0F85D1 inset;
                                padding-left: 5px;
                                width: 100%;
                                height: 100%;
                                border: none;
                                -webkit-text-fill-color: $menuColorText;
                                color: $black;
                                &:focus {
                                    outline: none;
                                    color: $menuColorText;
                                }
                            }
                            @include placeholder(rgba(240,247,252,0.7));
                        }
                        .svg-not-btn {
                            @media(min-width: 425px) {
                                display: none;
                            }
                        }
                        .svg-btn {
                            @media(max-width: 424px) {
                                display: none;
                            }
                        }
                        button {
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            margin: 0 !important;
                            cursor: pointer;
                            &:focus {
                                outline: none;
                            }
                        }
                        &.search-clicked {
                            background-color: #0F85D1;
                            border: 1px solid #0665A2;
                        }
                    }
                }
                .dl-menu {
                    display: none;
                    margin: 0;
                    box-shadow: 0 6px 4px -4px #707070;
                    font-weight: 100;
                    @media(min-width: 768px) {
                        width: 200px;
                    }
                    li {
                        @include transition(.2s);
                        a {
                            @include transition(.2s);
                            padding: 5px 0;
                            border-bottom: 1px solid $darkerBlue;
                            display: block;
                            text-decoration: none;
                            color: $menuColorText;
                        }
                    }
                    .kalkulator-walut {
                        a {
                            display: block;
                            background-color: $yellow;
                            font-size: 1.7rem;
                            color: $darkBlue;
                            &:hover {
                                background-color: $brighterYellow;
                                color: $mainBlue;
                            }
                        }
                    }
                    .category {
                        a {
                            background-color: $darkBlue;
                            font-size: 1.7rem;
                            @media(min-width: 768px) {
                                font-size: 1.8rem;
                            }
                        
                        &:hover {
                            background-color: $darkerBlue;
                        }
                    }
                        li {
                            a {
                                background-color: $mainBlue;
                                font-size: 1.4rem;
                                display: block;
                                @include transition(.2s);
                                @media(min-width: 768px) {
                                    font-size: 1.5rem;
                                }
                                &:hover {
                                    background-color: $menuColorText;
                                    color: $mainBlue;
                                }
                            }
                        }
                    }
                    .dl-submenu {
                        display: none;
                    }
                }
            }
        }
    }
}