@font-face {
  font-family: latoRegular;
  src: url(/fonts/Lato-Regulat.ttf); }
html {
  font-size: 62.5%; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: #2ca9ed;
  background: -moz-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2ca9ed), color-stop(64%, #2ca9ed), color-stop(100%, #84caef));
  background: -webkit-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -o-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -ms-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 ); }
  body .logo-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 15px; }
    body .logo-container a {
      text-align: center; }
      body .logo-container a .logo {
        width: 70%;
        text-align: center; }
  body .wrapper .search-result h2 {
    text-align: center;
    margin: 0;
    margin-top: 40px;
    font-size: 3rem;
    font-weight: 100;
    font-family: latoRegular, sans-serif;
    font-weight: 800;
    color: #ffffff; }
    @media (min-width: 375px) {
      body .wrapper .search-result h2 {
        font-size: 4rem; } }
    @media (min-width: 768px) {
      body .wrapper .search-result h2 {
        font-size: 6rem; } }
  body .wrapper .search-result .products {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    width: 80%;
    margin: 0 auto; }
    body .wrapper .search-result .products .single-product {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      height: 200px;
      padding: 0 30px;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 10px;
      width: 100%;
      position: relative;
      border-radius: 20px; }
      body .wrapper .search-result .products .single-product .img-wrapper {
        width: 150px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
      body .wrapper .search-result .products .single-product .info {
        flex-grow: 2;
        text-align: left;
        margin: 15px 0 15px 20px;
        overflow-y: auto;
        font-family: latoRegular, sans-serif; }
        body .wrapper .search-result .products .single-product .info h4 {
          font-size: 2.3rem;
          font-weight: 100;
          color: #0665A2;
          margin: 15px 15px 10px 15px; }
        body .wrapper .search-result .products .single-product .info ul {
          font-size: 1.4rem;
          padding-left: 30px;
          list-style-position: 2px;
          color: #344c43;
          line-height: 1.8rem; }
      body .wrapper .search-result .products .single-product .buttons-container {
        width: 150px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 30px 0 30px 30px;
        padding-left: 30px;
        border-left: 1px solid #344c43; }
        body .wrapper .search-result .products .single-product .buttons-container button {
          height: 50px;
          width: 150px;
          background: none;
          border: 2px solid #3d81da;
          border-radius: 40px;
          font-size: 1.4rem;
          color: #3d81da;
          cursor: pointer;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
          body .wrapper .search-result .products .single-product .buttons-container button:hover {
            background-color: #3d81da;
            color: #ffffff; }
          body .wrapper .search-result .products .single-product .buttons-container button.read-more {
            margin-bottom: 10px; }
          body .wrapper .search-result .products .single-product .buttons-container button.apply-now {
            margin-top: 10px; }

/*# sourceMappingURL=search-results.css.map */
