$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$menuColorText: #f0f7fc;
$mainBlue: rgba(52, 152, 219, 1);
$lightestBlue: #f0f7fc;
$lightBlue: rgba(133, 196, 237, 1);
$black: #000000;
$white: #ffffff;

@mixin flexbox($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}
@mixin placeholder($color) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

html {
    height: 100%;
    body {
        -webkit-font-smoothing: subpixel-antialiased;
        position: relative;
        height: 100%;
        background: rgba(44,169,237,1);
        background: -moz-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(44,169,237,1)), color-stop(64%, rgba(44,169,237,1)), color-stop(100%, rgba(132,202,239,1)));
        background: -webkit-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
        background: -o-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
        background: linear-gradient(45deg, rgba(44,169,237,1) 0%, rgba(44,169,237,1) 64%, rgba(132,202,239,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 );
        .wrapper {
            .dimness {
                opacity: 0;
                position: fixed;
                top: 0;
                width: 100%;
                height: 100%;
                bottom: 0;
                z-index: 100;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);
                &.dimness-visible {
                    background-color: $black;
                    display: block;
                    visibility: visible;
                    opacity: 0.7;
                }
            }
            position: absolute;
            top: 35%;
            width: 100%;
            @media (min-width: 768px) {
                top: 25%;
            }
            header {
                @include flexbox(column, nowrap);
                align-items: center;
                margin: 0 30px;
                .logo {
                    position: relative;
                    width: 300px;
                    text-align: center;
                    @media(min-width: 768px) {
                        margin-bottom: 50px;
                    }
                    @media(min-width: 1024px) {
                        width: 450px;
                    }
                    h1, p {
                        color: #fefefe;
                        font-weight: 100;
                        font-family: somaticRounded, sans-serif;
                    }
                    h1 {
                        margin-top: 0;
                        font-size: 7rem;
                        @media (min-width: 768px) {
                            font-size: 8rem;
                            margin-bottom: 10px;
                        }
                        @media (min-width: 1024px) {
                            font-size: 12rem;
                        }
                    }
                    p {
                        font-size: 1.17rem;
                        position: absolute;
                        bottom: 30px;
                        left: 85px;
                        letter-spacing: 1.2px;
                        @media (min-width: 768px) {
                            bottom: 5px;
                            left: 85px;
                            margin-bottom: 0;
                            font-size: 1.3rem;
                        }
                        @media (min-width: 1024px) {
                            left: 130px;
                            font-size: 2rem;
                        }
                    }
                    img {
                        position: absolute;
                    }
                    .left-dot {
                        left: 10px;
                        bottom: 52px;
                        width: 9px;
                        @media (min-width: 768px) {
                            bottom: 20px;
                            left: -5px;
                        }
                        @media (min-width: 1024px) {
                            width: 15px;
                        }
                    }
                    .left-bottom-dot {
                        left: 75px;
                        bottom: 20px;
                        width: 13.5px;
                        @media (min-width: 768px) {
                            left: 75px;
                            bottom: -15px;
                        }
                        @media (min-width: 1024px) {
                            left: 110px;
                            bottom: -29px;
                            width: 23px;
                        }
                    }
                    .right-dot {
                        right: 12px;
                        top: 15px;
                        width: 10.5px;
                        @media (min-width: 768px) {
                            top: 20px;
                            right: -5px;
                        }
                        @media (min-width: 1024px) {
                            top: 40px;
                            width: 18px;
                        }
                    }
                    .right-bottom-dot {
                        right: 12px;
                        bottom: 50px;
                        width: 8px;
                        @media (min-width: 768px) {
                            bottom: 15px;
                            right: -2.5px;
                        }
                        @media (min-width: 1024px) {
                            width: 14px;
                        }
                    }
                    .left-arrow {
                        left: 18px;
                        bottom: 8px;
                        width: 25px;
                        @media (min-width: 768px) {
                            left: 0px;
                            bottom: -25px;
                        }
                        @media (min-width: 1024px) {
                            
                        }
                    }
                    .right-arrow {
                        right: -5px;
                        bottom: 35px;
                        width: 17px;
                        @media (min-width: 768px) {
                            right: -30px;
                            bottom: 0;
                        }
                        @media (min-width: 1024px) {
                            
                        }
                    }
                }
                .search {
                    @include flexbox(row, nowrap);
                    justify-content: space-between;
                    margin-top: 15px;
                    width: 100%;
                    border-radius: 20px;
                    @media(min-width: 425px) {
                        width: 380px;
                    }
                    @media (min-width: 768px) {
                        width: 470px;
                    }
                    @media(min-width: 1024px) {
                        width: 660px;
                    }
                    input,
                    button {
                        border: none;
                        margin: 0 !important;
                        &:focus {
                            outline: none;
                        }
                        
                    }
                    input[type="text"] {
                        width: 100%;
                        margin: 0 5px;
                        padding-left: 10px;
                        font-size: 1.4rem;
                        -webkit-box-shadow: 0 0 0px 1000px $white inset;
                        @include placeholder(#000000); //coś nie działa
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                    }
                    button {
                        background-color: $white;
                        color: $lightestBlue;
                        padding: 0px 10px;
                        cursor: pointer;
                        @include transition(.2s);
                        border-bottom-right-radius: 8px;
                        border-top-right-radius: 8px;
                        height: 35px;
                        svg {
                            fill: #4183d7;
                            width: 25px;
                            transform: rotateY(180deg);
                            @include transition(.2s);
                            @media(min-width: 768px) {
                                padding: 2px;
                                height: 35px;
                                width: 35px;
                            }
                        }
                        @media(min-width: 768px) {
                            height: 40px;
                        }
                        @media(min-width: 1024px) {
                            height: 45px;
                        }
                    }
                }
            }
        }
        footer {
            width: 100%;
            height: 50px;
            background-color: $darkBlue;
            text-align: right;
            padding: 10px;
            position: fixed;
            bottom: 0;
            @include flexbox(column, nowrap);
            justify-content: center;
            a {
                font-size: 1.3rem;
                color: $menuColorText;
                text-decoration: none;
            }
        }
    }
}