@font-face {
  font-family: latoRegular;
  src: url(/fonts/Lato-Regulat.ttf); }
html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  background: #2ca9ed;
  background: -moz-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2ca9ed), color-stop(64%, #2ca9ed), color-stop(100%, #84caef));
  background: -webkit-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -o-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: -ms-linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  background: linear-gradient(45deg, #2ca9ed 0%, #2ca9ed 64%, #84caef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9ed', endColorstr='#84caef', GradientType=1 ); }
  body .wrapper {
    margin-top: 130px;
    height: 100%; }
    body .wrapper .search-result {
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
      body .wrapper .search-result button {
        height: 50px;
        width: 150px;
        background: none;
        border: 2px solid #3d81da;
        border-radius: 40px;
        font-size: 1.4rem;
        color: #3d81da;
        cursor: pointer;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      body .wrapper .search-result .whole-product {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 24px;
        position: relative;
        font-family: latoRegular, sans-serif;
        overflow-y: auto; }
        body .wrapper .search-result .whole-product .img-wrapper {
          position: absolute;
          top: 25px;
          right: 50px; }
        body .wrapper .search-result .whole-product .info {
          margin-top: 75px; }
          body .wrapper .search-result .whole-product .info h1 {
            font-size: 2.3rem;
            color: #0665A2;
            margin: 0; }
          body .wrapper .search-result .whole-product .info p {
            font-size: 1.6rem; }
        body .wrapper .search-result .whole-product button {
          position: fixed;
          bottom: 10px;
          background: #cee9fb;
          -webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
          -moz-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.28); }
          body .wrapper .search-result .whole-product button:hover {
            background-color: #3d81da;
            color: #ffffff; }
      body .wrapper .search-result .products {
        font-family: latoRegular, sans-serif;
        display: block;
        height: 100%;
        overflow-y: auto; }
        body .wrapper .search-result .products .single-product {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-flow: row nowrap;
          border-radius: 20px;
          height: 230px;
          background-color: rgba(255, 255, 255, 0.8);
          margin: 0 10px 30px 10px;
          max-width: 475px;
          position: relative; }
          body .wrapper .search-result .products .single-product.active::after {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            background-color: rgba(45, 130, 120, 0.8); }
          body .wrapper .search-result .products .single-product .img-and-btns {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin: 20px; }
            body .wrapper .search-result .products .single-product .img-and-btns .img-wrapper {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              margin-bottom: 28px; }
            body .wrapper .search-result .products .single-product .img-and-btns .buttons-container {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-flow: column nowrap;
              align-items: center; }
              body .wrapper .search-result .products .single-product .img-and-btns .buttons-container button:hover {
                background-color: #3d81da;
                color: #ffffff; }
              body .wrapper .search-result .products .single-product .img-and-btns .buttons-container button.read-more {
                margin-bottom: 16px; }
          body .wrapper .search-result .products .single-product .info {
            overflow-y: auto;
            margin: 0 10px 35px 0; }
            body .wrapper .search-result .products .single-product .info h4 {
              font-size: 2.1rem;
              font-weight: 300;
              margin-bottom: 20px;
              color: #0665A2; }
            body .wrapper .search-result .products .single-product .info ul {
              font-size: 1.2rem;
              padding-left: 20px;
              list-style-position: 2px;
              color: #344c43;
              line-height: 1.8rem;
              color: #344c43; }

/*# sourceMappingURL=selected_product.css.map */
