html {
  height: 100%; }
  html body {
    position: relative;
    height: 100%; }
    html body .wrapper {
      position: absolute;
      top: 25%;
      width: 100%; }
      html body .wrapper .dimness {
        opacity: 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
        html body .wrapper .dimness.dimness-visible {
          background-color: #000000;
          display: block;
          visibility: visible;
          opacity: 0.7; }
      @media (min-width: 1024px) {
        html body .wrapper {
          top: 25%; } }
      html body .wrapper header {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 30px; }
        html body .wrapper header h1 {
          color: #0665a2;
          font-size: 4.5rem;
          text-align: center;
          font-weight: 100;
          margin: 0; }
          @media (min-width: 425px) {
            html body .wrapper header h1 {
              font-size: 6rem; } }
          @media (min-width: 768px) {
            html body .wrapper header h1 {
              font-size: 8rem;
              margin-bottom: 10px; } }
          @media (min-width: 1024px) {
            html body .wrapper header h1 {
              font-size: 10rem; } }
        html body .wrapper header #calc .value {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          border: 1px solid #0665a2;
          margin-top: 15px;
          width: 100%; }
          @media (min-width: 425px) {
            html body .wrapper header #calc .value {
              width: 380px; } }
          @media (min-width: 768px) {
            html body .wrapper header #calc .value {
              width: 450px; } }
          html body .wrapper header #calc .value input,
          html body .wrapper header #calc .value button {
            border: none; }
            html body .wrapper header #calc .value input:focus,
            html body .wrapper header #calc .value button:focus {
              outline: none; }
          html body .wrapper header #calc .value input[type="number"] {
            width: 100%;
            margin: 0 5px;
            font-size: 1.4rem; }
            html body .wrapper header #calc .value input[type="number"] ::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: #000000; }
            html body .wrapper header #calc .value input[type="number"] ::-moz-placeholder {
              /* Firefox 19+ */
              color: #000000; }
            html body .wrapper header #calc .value input[type="number"] :-ms-input-placeholder {
              /* IE 10+ */
              color: #000000; }
            html body .wrapper header #calc .value input[type="number"] :-moz-placeholder {
              /* Firefox 18- */
              color: #000000; }
          html body .wrapper header #calc .value button {
            background-color: #3498db;
            color: #f0f7fc;
            padding: 5px 15px; }
            html body .wrapper header #calc .value button svg {
              width: 25px; }
            @media (min-width: 768px) {
              html body .wrapper header #calc .value button {
                padding: 10px 15px; } }
        html body .wrapper header #calc select {
          border: 0 !important;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: #ffffff url(../images/arrow-down.png) no-repeat 90% center;
          background-size: 10px;
          width: 100px;
          text-indent: 0.01px;
          text-overflow: "";
          color: #0665a2;
          border-radius: 15px;
          padding: 5px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          border-radius: 0;
          height: 100%; }
          html body .wrapper header #calc select:focus {
            outline: none; }
        html body .wrapper header #calc .values {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px; }
          html body .wrapper header #calc .values .course {
            height: 30px; }
            html body .wrapper header #calc .values .course button {
              border: none;
              border-radius: 0;
              height: 100%;
              background-color: #ffffff; }
            html body .wrapper header #calc .values .course select {
              width: 60px; }
          html body .wrapper header #calc .values .date {
            height: 30px;
            margin-top: 10px; }
            html body .wrapper header #calc .values .date #year,
            html body .wrapper header #calc .values .date #day {
              width: 50px; }
            @media (min-width: 768px) {
              html body .wrapper header #calc .values .date {
                margin-top: 0; } }
          @media (min-width: 768px) {
            html body .wrapper header #calc .values {
              flex-direction: row;
              justify-content: space-around; } }
    html body footer {
      width: 100%;
      background-color: #0665a2;
      text-align: right;
      padding: 10px;
      position: absolute;
      bottom: 0; }
      html body footer a {
        font-size: 1.3rem;
        color: #f0f7fc;
        text-decoration: none; }

/*# sourceMappingURL=calcStartPage.css.map */
