$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$menuColorText: #f0f7fc;
$mainBlue: rgba(52, 152, 219, 1);
$lightestBlue: #f0f7fc;
$lightBlue: rgba(133, 196, 237, 1);
$black: #000000;
$white: #ffffff;

@mixin flexbox($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}
@mixin placeholder($color) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: $white;
    line-height: 1.43;
    height: 100%;
    width: 100%;
    .wrapper {
        width: 80%;
        margin: 0 auto;
        margin-top: 60px;
        @media(min-width: 768px) {
            padding: 1px 26px 26px 26px;
            box-shadow: 0 0 3px rgba(000,000,000, 0.5);
            width: 750px;
            margin-top: 10%;
        }
        @media(min-width: 1024px) {
            margin-left: 50px;
        }
        h2 {
            font-weight: 100;
            font-size: 3rem;
        }
        form {
            .input {
                @include flexbox(row, nowrap);
                justify-content: space-between;
                border: 1px solid $darkBlue;
                margin-top: 15px;
                height: 30px;
                input {
                    width: 100%;
                    border: none;
                }
                svg {
                    border-left: 1px solid $darkBlue;
                    background-color: $mainBlue;
                    padding: 5px;
                }
            }
            .message-area {
                border: 1px solid $darkBlue;
                margin-top: 15px;
                textarea {
                    width: 100%;
                    border: none;
                    resize: none;
                }
                button {
                    width: 100%;
                    background-color: $mainBlue;
                    border: none;
                    margin: 0;
                    cursor: pointer;
                    @include transition(.4s);
                    border-top: 1px solid $darkBlue;
                    svg {
                        padding: 5px;
                        fill: $menuColorText;
                        @include transition(.2s);
                    }
                    &:hover {
                        background-color: $menuColorText;
                        svg {
                            fill: $mainBlue;
                        }
                    }
                }
            }
        }
    }
}