@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.43;
  height: 100%; }
  body .wrapper {
    min-height: 93%;
    /*@media(min-width: 1024px) {
        margin-left: 100px;
        margin-right: 100px;
    }
    @media(min-width: 1800px) {
        margin-left: 200px;
        margin-right: 200px;
    }*/ }
    body .wrapper:after {
      content: "";
      display: block; }
    body .wrapper h2 {
      font-size: 2.7rem;
      font-weight: 100;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 50px; }
      @media (min-width: 768px) {
        body .wrapper h2 {
          margin-bottom: 30px;
          font-size: 4rem; } }
      @media (min-width: 1024px) {
        body .wrapper h2 {
          margin-top: 70px;
          font-size: 6rem; } }
      body .wrapper h2 a {
        text-decoration: none;
        color: #0665a2; }
    body .wrapper .results #calc {
      background-color: #ffffff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      width: 85%;
      margin: 0 auto;
      padding: 20px; }
      @media (min-width: 768px) {
        body .wrapper .results #calc {
          width: 40%;
          margin: 0 auto;
          margin-bottom: 10px; } }
      body .wrapper .results #calc .value {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        width: 100%; }
        body .wrapper .results #calc .value input,
        body .wrapper .results #calc .value button {
          border: none;
          margin: 0 !important; }
          body .wrapper .results #calc .value input:focus,
          body .wrapper .results #calc .value button:focus {
            outline: none; }
        body .wrapper .results #calc .value input[type="number"] {
          width: 100%;
          margin: 0 5px;
          padding-left: 10px;
          font-size: 1.4rem; }
        body .wrapper .results #calc .value button {
          background-color: #3498db;
          color: #f0f7fc;
          padding: 5px 10px;
          cursor: pointer;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          body .wrapper .results #calc .value button svg {
            fill: #f0f7fc;
            width: 25px;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
          body .wrapper .results #calc .value button:hover {
            background-color: #f0f7fc; }
            body .wrapper .results #calc .value button:hover svg {
              fill: #3498db; }
      body .wrapper .results #calc select {
        border: 0 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #ffffff url(../images/arrow-down.png) no-repeat 90% center;
        background-size: 10px;
        width: 100px;
        text-indent: 0.01px;
        text-overflow: "";
        color: #0665a2;
        border-radius: 15px;
        padding: 5px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        border-radius: 0;
        height: 100%;
        margin: 0 2px 0 2px; }
        body .wrapper .results #calc select:focus {
          outline: none; }
      body .wrapper .results #calc .values {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px; }
        body .wrapper .results #calc .values .course, body .wrapper .results #calc .values .date {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap; }
        body .wrapper .results #calc .values .course {
          height: 30px; }
          body .wrapper .results #calc .values .course button {
            border: none;
            border-radius: 0;
            height: 100%;
            background-color: #ffffff; }
          body .wrapper .results #calc .values .course select {
            width: 60px; }
        body .wrapper .results #calc .values .date {
          height: 30px;
          margin-top: 10px; }
          @media (min-width: 1024px) {
            body .wrapper .results #calc .values .date {
              margin-top: 0; } }
          body .wrapper .results #calc .values .date #year,
          body .wrapper .results #calc .values .date #day {
            width: 50px; }
        @media (min-width: 1024px) {
          body .wrapper .results #calc .values {
            flex-direction: row;
            justify-content: space-around; } }
    body .wrapper #hidden {
      display: none; }
  body .result {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f0f7fc;
    margin-top: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      body .result {
        width: 40%;
        margin: 0 auto; } }
    body .result h3 {
      font-size: 1.6rem;
      font-weight: 300;
      color: #0665a2; }
    body .result #show #resultarea {
      font-size: 1.2rem;
      padding-bottom: 10px;
      box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5); }
      @media (min-width: 768px) {
        body .result #show #resultarea {
          box-shadow: none; } }
      body .result #show #resultarea p {
        padding: 0 20px; }
      body .result #show #resultarea ul {
        list-style-type: none;
        padding: 0; }
        body .result #show #resultarea ul li {
          color: #000000; }
          body .result #show #resultarea ul li:nth-child(2) {
            margin-bottom: 15px; }
          body .result #show #resultarea ul li a {
            background-color: #85c4ed;
            padding: 5px;
            color: #ffffff;
            text-decoration: none;
            border: 1px solid #3498db; }
    body .result #show #courseTable {
      max-height: 100px;
      overflow-y: auto;
      background-color: #ffffff;
      width: 70%;
      margin: 0 auto 16px auto;
      font-size: 1.1rem; }
      body .result #show #courseTable ul {
        list-style-type: none;
        padding: 0; }
    body .result #hidden {
      display: none; }
  body footer {
    height: 50px;
    background-color: #0665a2;
    text-align: right;
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; }
    @media (min-width: 768px) {
      body footer {
        margin-top: 0; } }
    body footer a {
      font-size: 1.3rem;
      color: #f0f7fc;
      text-decoration: none;
      margin-right: 10px; }

/*# sourceMappingURL=converter.css.map */
