@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@font-face {
  font-family: "Helvetica Neue Thin";
  src: url(/fonts/helveticaneue/HelveticaNeue.ttf); }
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Helvetica Neue","Helvetica Neue Thin",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0; }
    html body nav {
      max-height: 100%;
      overflow-y: auto;
      position: fixed;
      z-index: 9999;
      width: 100%;
      top: 0; }
      html body nav ul {
        list-style-type: none;
        padding: 0;
        text-align: center; }
      html body nav .dl-menuwrapper .navbar {
        background-color: #3498db;
        width: 100%;
        height: 50px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        border: none;
        color: #f0f7fc; }
        html body nav .dl-menuwrapper .navbar .menu-btn {
          width: 40px;
          padding: 5px; }
          html body nav .dl-menuwrapper .navbar .menu-btn .top-bar,
          html body nav .dl-menuwrapper .navbar .menu-btn .middle-bar,
          html body nav .dl-menuwrapper .navbar .menu-btn .bottom-bar {
            width: 90%;
            height: 2px;
            background-color: #f0f7fc;
            margin: 4px auto;
            -webkit-transition: 0.6s ease-in-out;
            -moz-transition: 0.6s ease-in-out;
            transition: 0.6s ease-in-out; }
          html body nav .dl-menuwrapper .navbar .menu-btn .top-bar-close {
            transform: translateY(6px) rotate(405deg); }
          html body nav .dl-menuwrapper .navbar .menu-btn .middle-bar-close {
            width: 0; }
          html body nav .dl-menuwrapper .navbar .menu-btn .bottom-bar-close {
            transform: translateY(-6px) rotate(-405deg); }
          html body nav .dl-menuwrapper .navbar .menu-btn .top-bar-arrow {
            width: 50%;
            transform: translateX(-2px) translateY(1px) rotate(135deg);
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
          html body nav .dl-menuwrapper .navbar .menu-btn .middle-bar-arrow {
            width: 90%;
            transform: translateX(8px);
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
          html body nav .dl-menuwrapper .navbar .menu-btn .bottom-bar-arrow {
            width: 50%;
            transform: translateX(-2px) translateY(-1px) rotate(-135deg);
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out; }
        html body nav .dl-menuwrapper .navbar .amoney-link {
          margin-left: 10px; }
          html body nav .dl-menuwrapper .navbar .amoney-link a {
            text-decoration: none;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            color: #f0f7fc; }
          @media (min-width: 425px) {
            html body nav .dl-menuwrapper .navbar .amoney-link {
              display: block;
              flex-grow: 2;
              margin-left: 10px; } }
        html body nav .dl-menuwrapper .navbar h5 {
          margin-right: 10px; }
          html body nav .dl-menuwrapper .navbar h5 a {
            color: #f0f7fc;
            font-weight: 200;
            font-size: 1.8rem;
            text-decoration: none;
            display: block;
            letter-spacing: .1px; }
        html body nav .dl-menuwrapper .navbar .search {
          padding: 5px;
          height: 30px;
          margin-right: 5px; }
          @media (min-width: 425px) {
            html body nav .dl-menuwrapper .navbar .search {
              background-color: #0F85D1;
              border: 1px solid #0665A2;
              width: 200px;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-between; } }
          @media (min-width: 768px) {
            html body nav .dl-menuwrapper .navbar .search {
              width: 250px; } }
          html body nav .dl-menuwrapper .navbar .search form {
            height: 100%;
            width: 70%;
            margin-right: 5px;
            display: none; }
            @media (min-width: 425px) {
              html body nav .dl-menuwrapper .navbar .search form {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%; } }
            html body nav .dl-menuwrapper .navbar .search form.form-active {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-between;
              width: 100%; }
            html body nav .dl-menuwrapper .navbar .search form input {
              width: 100%;
              height: 100%;
              background-color: #0F85D1;
              border: none;
              color: #000000; }
              html body nav .dl-menuwrapper .navbar .search form input:focus {
                outline: none;
                color: #f0f7fc; }
            html body nav .dl-menuwrapper .navbar .search form ::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: rgba(240, 247, 252, 0.7); }
            html body nav .dl-menuwrapper .navbar .search form ::-moz-placeholder {
              /* Firefox 19+ */
              color: rgba(240, 247, 252, 0.7); }
            html body nav .dl-menuwrapper .navbar .search form :-ms-input-placeholder {
              /* IE 10+ */
              color: rgba(240, 247, 252, 0.7); }
            html body nav .dl-menuwrapper .navbar .search form :-moz-placeholder {
              /* Firefox 18- */
              color: rgba(240, 247, 252, 0.7); }
          @media (min-width: 425px) {
            html body nav .dl-menuwrapper .navbar .search .svg-not-btn {
              display: none; } }
          @media (max-width: 424px) {
            html body nav .dl-menuwrapper .navbar .search .svg-btn {
              display: none; } }
          html body nav .dl-menuwrapper .navbar .search button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0 !important;
            cursor: pointer; }
            html body nav .dl-menuwrapper .navbar .search button:focus {
              outline: none; }
          html body nav .dl-menuwrapper .navbar .search.search-clicked {
            background-color: #0F85D1;
            border: 1px solid #0665A2; }
      html body nav .dl-menuwrapper .dl-menu {
        display: none;
        margin: 0;
        box-shadow: 0 6px 4px -4px #707070;
        font-weight: 100; }
        @media (min-width: 768px) {
          html body nav .dl-menuwrapper .dl-menu {
            width: 200px; } }
        html body nav .dl-menuwrapper .dl-menu li {
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          html body nav .dl-menuwrapper .dl-menu li a {
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            padding: 5px 0;
            border-bottom: 1px solid #0f85d1;
            display: block;
            text-decoration: none;
            color: #f0f7fc; }
        html body nav .dl-menuwrapper .dl-menu .kalkulator-walut a {
          display: block;
          background-color: #FFC930;
          font-size: 1.7rem;
          color: #0665a2; }
          html body nav .dl-menuwrapper .dl-menu .kalkulator-walut a:hover {
            background-color: #FFD459;
            color: #3498db; }
        html body nav .dl-menuwrapper .dl-menu .category a {
          background-color: #0665a2;
          font-size: 1.7rem; }
          html body nav .dl-menuwrapper .dl-menu .category a:hover {
            background-color: #0f85d1; }
        html body nav .dl-menuwrapper .dl-menu .category li a {
          background-color: #3498db;
          font-size: 1.3rem;
          display: block;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          html body nav .dl-menuwrapper .dl-menu .category li a:hover {
            background-color: #f0f7fc;
            color: #3498db; }
        html body nav .dl-menuwrapper .dl-menu .dl-submenu {
          display: none; }

/*# sourceMappingURL=menu.css.map */
