$white: #ffffff;
$black: #000000;
$secondaryColor: #ecf0f1;
$asbestos: #7f8c8d;
$lightBlueLowOp: rgba(52, 152, 219, 1);
$menuColorText: #f0f7fc;
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

html {
    font-size: 62.5%;
    body {
        nav {
            position: absolute;
            z-index: 999;
            background-color: $lightBlueLowOp;
            width: 100%;
            top: 0;
            padding: 5px 0;
            ul {
                list-style-type: none;
                padding: 0;
                text-align: center;
            }
            .dl-menuwrapper {
                .menu-btn {
                    width: 40px;
                    padding: 5px;
                    .top-bar,
                    .middle-bar,
                    .bottom-bar {
                        width: 90%;
                        height: 2px;
                        background-color: $menuColorText;
                        margin: 4px auto;
                        @include transition(.6s);
                    }
                    .top-bar-close {
                        transform: translateY(6px) rotate(405deg);
                    }
                    .middle-bar-close {
                        width: 0;
                    }
                    .bottom-bar-close {
                        transform: translateY(-6px) rotate(-405deg);
                    }
                    .top-bar-arrow {
                        width: 50%;
                        transform: translateX(-2px) translateY(1px) rotate(135deg);
                        @include transition(.2s);
                    }
                    .middle-bar-arrow {
                        width: 90%;
                        transform: translateX(8px);
                        @include transition(.2s);
                    }
                    .bottom-bar-arrow {
                        width: 50%;
                        transform: translateX(-2px) translateY(-1px) rotate(-135deg);
                        @include transition(.3s);
                    }
                }
                .dl-menu {
                    display: none;
                    margin: 0;
                    box-shadow: 0 6px 4px -4px #707070;
                    li {
                        padding: 5px 0;
                        border-bottom: 1px solid $secondaryColor;
                        a {
                            color: $menuColorText;
                        }
                    }
                    .dl-submenu {
                        display: none;
                    }
                }
            }
        }
    }
}