$white: #ffffff;
$black: #000000;
$secondaryColor: #ecf0f1;
$grey: #7f8c8d;
$mainBlue: rgba(52, 152, 219, 1);
$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$menuColorText: #f0f7fc;
@mixin flexbox ($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}
@mixin placeholder($color) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

html {
    font-size: 62.5%;
    body {
        nav {
            max-height: 100%;
            overflow-y: auto;
            position: fixed;
            z-index: 9999;
            background-color: $mainBlue;
            width: 100%;
            top: 0;
            
            ul {
                list-style-type: none;
                padding: 0;
                text-align: center;
            }
            .dl-menuwrapper {
                .navbar {
                    width: 100%;
                    @include flexbox(row, nowrap);
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                    border: none;
                    .menu-btn {
                        width: 40px;
                        padding: 5px;
                        margin-right: auto;
                        .top-bar,
                        .middle-bar,
                        .bottom-bar {
                            width: 90%;
                            height: 2px;
                            background-color: $menuColorText;
                            margin: 4px auto;
                            @include transition(.6s);
                        }
                        .top-bar-close {
                            transform: translateY(6px) rotate(405deg);
                        }
                        .middle-bar-close {
                            width: 0;
                        }
                        .bottom-bar-close {
                            transform: translateY(-6px) rotate(-405deg);
                        }
                        .top-bar-arrow {
                            width: 50%;
                            transform: translateX(-2px) translateY(1px) rotate(135deg);
                            @include transition(.2s);
                        }
                        .middle-bar-arrow {
                            width: 90%;
                            transform: translateX(8px);
                            @include transition(.2s);
                        }
                        .bottom-bar-arrow {
                            width: 50%;
                            transform: translateX(-2px) translateY(-1px) rotate(-135deg);
                            @include transition(.3s);
                        }
                    }
                    .search {
                        padding: 5px;
                        @include flexbox(row, nowrap);
                        align-items: center;
                        height: 30px;
                        margin-right: 5px;
                        form {
                            height: 100%;
                            margin-right: 5px;
                            display: none;
                            input {
                                height: 100%;
                                background-color: #0F85D1;
                                border: none;
                                color: #000000;
                                &:focus {
                                    outline: none;
                                    color: $menuColorText;
                                }
                            }
                            @include placeholder(rgba(240,247,252,0.7));
                        }
                        &.search-clicked {
                            background-color: #0F85D1;
                            border: 1px solid #0665A2;
                        }
                    }
                }
                .dl-menu {
                    display: none;
                    margin: 0;
                    box-shadow: 0 6px 4px -4px #707070;
                    li {
                        padding: 5px 0;
                        border-bottom: 1px solid $secondaryColor;
                        @include transition(.2s);
                        a {
                            color: $menuColorText;
                        }
                    }
                    .category {
                        background-color: $darkBlue;
                        font-size: 2rem;
                        font-weight: 100;
                        &:hover {
                            background-color: $darkerBlue;
                        }
                        li {
                            background-color: $mainBlue;
                            font-size: 1.3rem;
                        }
                    }
                    .dl-submenu {
                        display: none;
                    }
                }
            }
        }
    }
}