@font-face {
  font-family: "Helvetica Neue Thin";
  src: url(/fonts/helveticaneue/HelveticaNeueThin.ttf); }
html {
  height: 100%; }
  html body {
    position: relative;
    height: 100%; }
    html body .wrapper {
      position: absolute;
      top: 35%;
      width: 100%; }
      html body .wrapper .dimness {
        opacity: 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
        html body .wrapper .dimness.dimness-visible {
          background-color: #000000;
          display: block;
          visibility: visible;
          opacity: 0.7; }
      @media (min-width: 768px) {
        html body .wrapper {
          top: 25%; } }
      html body .wrapper header {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 30px; }
        html body .wrapper header h1 {
          color: #0665a2;
          font-size: 4.5rem;
          font-weight: 100;
          margin: 0; }
          @media (min-width: 768px) {
            html body .wrapper header h1 {
              font-size: 8rem;
              margin-bottom: 10px; } }
          @media (min-width: 1024px) {
            html body .wrapper header h1 {
              font-size: 10rem; } }
        html body .wrapper header .search {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          border: 1px solid #0665a2;
          margin-top: 15px;
          width: 100%; }
          @media (min-width: 425px) {
            html body .wrapper header .search {
              width: 380px; } }
          @media (min-width: 768px) {
            html body .wrapper header .search {
              width: 450px; } }
          html body .wrapper header .search input,
          html body .wrapper header .search button {
            border: none;
            margin: 0 !important; }
            html body .wrapper header .search input:focus,
            html body .wrapper header .search button:focus {
              outline: none; }
          html body .wrapper header .search input[type="text"] {
            width: 100%;
            margin: 0 5px;
            font-size: 1.4rem; }
            html body .wrapper header .search input[type="text"] ::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: #000000; }
            html body .wrapper header .search input[type="text"] ::-moz-placeholder {
              /* Firefox 19+ */
              color: #000000; }
            html body .wrapper header .search input[type="text"] :-ms-input-placeholder {
              /* IE 10+ */
              color: #000000; }
            html body .wrapper header .search input[type="text"] :-moz-placeholder {
              /* Firefox 18- */
              color: #000000; }
          html body .wrapper header .search button {
            background-color: #3498db;
            color: #f0f7fc;
            padding: 5px 15px; }
            html body .wrapper header .search button svg {
              width: 25px; }
            @media (min-width: 768px) {
              html body .wrapper header .search button {
                padding: 10px 15px; } }
    html body footer {
      width: 100%;
      background-color: #0665a2;
      text-align: right;
      padding: 10px;
      position: fixed;
      bottom: 0; }
      html body footer a {
        font-size: 1.3rem;
        color: #f0f7fc;
        text-decoration: none; }

/*# sourceMappingURL=search.css.map */
