html {
  font-size: 62.5%; }

body {
  background-color: #ffffff; }
  body .wrapper .dimness {
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 100;
    display: none;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    body .wrapper .dimness.dimness-visible {
      background-color: #000000;
      display: block;
      opacity: 0.7; }
  body .wrapper .search-result h2 {
    text-align: center;
    margin: 0;
    margin-top: 80px; }
  body .wrapper .search-result .products {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px; }
    body .wrapper .search-result .products .single-product {
      border: 1px solid #c0c0c0;
      background-color: #ffffff;
      margin: 5px;
      width: 300px;
      position: relative;
      border-radius: 10px; }
      body .wrapper .search-result .products .single-product .product-header {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background: #ecf0f1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        min-height: 110px; }
        body .wrapper .search-result .products .single-product .product-header h4 {
          font-size: 2rem;
          font-weight: 100;
          color: #0665A2;
          text-align: center;
          margin-top: 15px; }
        body .wrapper .search-result .products .single-product .product-header .img-wrapper {
          margin-top: 10px;
          margin-right: 10px; }
      body .wrapper .search-result .products .single-product button {
        border: none;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffffff; }
      body .wrapper .search-result .products .single-product .info {
        margin: 10px 8%;
        height: 200px;
        overflow-y: auto;
        color: #000000;
        font-size: 1.5rem;
        font-weight: 100;
        text-align: justify; }
        body .wrapper .search-result .products .single-product .info .more-btn {
          font-weight: 200;
          font-size: 1.6rem;
          color: #0f85d1;
          display: inline;
          cursor: pointer; }
          body .wrapper .search-result .products .single-product .info .more-btn:hover {
            text-decoration: underline; }
      body .wrapper .search-result .products .single-product .show-product {
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #666ce8;
        display: none;
        border-radius: 10px; }
        body .wrapper .search-result .products .single-product .show-product .close-btn {
          position: absolute;
          top: 10px;
          right: 5px;
          width: 40px;
          padding: 5px; }
          body .wrapper .search-result .products .single-product .show-product .close-btn .bar {
            width: 90%;
            height: 2px;
            background-color: #ffffff;
            margin: 4px auto; }
          body .wrapper .search-result .products .single-product .show-product .close-btn .top-bar {
            transform: translateY(3px) rotate(45deg); }
          body .wrapper .search-result .products .single-product .show-product .close-btn .bottom-bar {
            transform: translateY(-3px) rotate(-45deg); }
        body .wrapper .search-result .products .single-product .show-product button {
          position: absolute;
          bottom: 30px;
          width: 50%;
          margin: 0 25%;
          border-radius: 20px;
          padding: 10px 5px;
          background-color: transparent;
          border: 2px solid #ffffff;
          color: #ffffff;
          font-weight: 200;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          transition: .2s ease-in-out; }
          body .wrapper .search-result .products .single-product .show-product button:hover {
            background-color: #ffffff;
            color: #666ce8; }
        body .wrapper .search-result .products .single-product .show-product.active {
          display: block; }

/*# sourceMappingURL=search-results.css.map */
