$backgroundColor: #ecf0f1;
$white: #ffffff;
$black: #000000;
$alizarin: #e74c3c;
$mainBlue: rgba(52, 152, 219, 1);
$darkerBlue: rgba(15, 133, 209, 1);
$darkBlue: rgba(6, 101, 162, 1);
$lightBlue: rgba(133, 196, 237, 1);
$menuColorText: #f0f7fc;

@mixin flexbox ($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: $direction $wrap;
}
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
    background-color: $white;
    line-height: 1.43;
    height: 100%;
    .wrapper {
        min-height: 90%;
        //margin-bottom: -60px;
        .dimness {
            opacity: 0;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);
            &.dimness-visible {
                background-color: $black;
                display: block;
                visibility: visible;
                opacity: 0.7;
            }
        }
        .search-result {
            h2 {
                text-align: center;
                margin: 0;
                margin-top: 80px;
                font-size: 3rem;
                font-weight: 100;
                @media(min-width: 375px) {
                    font-size: 4rem;
                }
                @media(min-width: 768px) {
                    font-size: 6rem;
                }
            }
            .products {
                @include flexbox(row, wrap);
                justify-content: center;
                //align-items: flex-start;
                margin-top: 30px;
                .single-product {
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
                    min-height: 270px;
                    //border: 1px solid #c0c0c0;
                    background-color: $white;
                    margin: 10px;
                    width: 300px;
                    position: relative;
                    //border-radius: 10px;
                    .product-header {
                        @include flexbox(column, nowrap);
                        align-items: center;
                        background: #ecf0f1;
                        //border-top-left-radius: 10px;
                        //border-top-right-radius: 10px;
                        min-height: 110px;
                        
                        h4 {
                            font-size: 2rem;
                            font-weight: 100;
                            color: #0665A2;
                            text-align: center;
                            margin: 15px 15px 10px 15px;
                        }
                        .img-wrapper {
                            margin-top: 10px;
                            margin-right: 10px;
                            img {
                                //width: 100%;
                            }
                        }
                    }
                    button {
                        border: none;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        //border-bottom-left-radius: 10px;
                        //border-bottom-right-radius: 10px;
                        background-color: $white;
                        cursor: pointer;
                    }
                    .info {
                        margin: 10px 8%;
                        max-height: 250px;
                        overflow-y: auto;
                        color: $black;
                        font-size: 1.5rem;
                        font-weight: 100;
                        text-align: justify;
                        .more-btn {
                            font-weight: 200;
                            font-size: 1.6rem;
                            color: $darkerBlue;
                            display: inline;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .hide {
                            display: none;
                        }
                    }
                    .show-product {
                        z-index: 99;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .8);
                        visibility: hidden;
                        opacity: 0;
                        @include transition(.5s);
                        h4 {
                            font-size: 2.4rem;
                            font-weight: 100;
                            color: $white;
                            text-align: center;
                            margin: 25px 30px 10px 30px;
                        }
                        button {
                            position: absolute;
                            border-radius: 20px;
                            padding: 10px 5px;
                            background-color: transparent;
                            border: 2px solid $white;
                            color: $white;
                            font-weight: 200;
                            @include transition(.2s);
                            &:hover {
                                background-color: $white;
                                color: $darkBlue;
                            }
                        }
                        .read-more {
                            bottom: 80px;
                            width: 50%;
                            margin: 0 25%;
                        }
                        .apply-now {
                            bottom: 30px;
                            width: 40%;
                            margin: 0 30%;
                        }
                    }
                    &:hover {
                        .show-product {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &:after {
            content: "";
            display: block;
        }
        @media(min-width: 1024px) {
            margin-left: 100px;
            margin-right: 100px;
        }
        @media(min-width: 1800px) {
            margin-left: 200px;
            margin-right: 200px;
        }
    }
    footer {
        height: 50px;
        background-color: $darkBlue;
        text-align: right;
        margin-top: 20px;
        width: 100%;
        @include flexbox(column, nowrap);
        justify-content: center;
        a {
            font-size: 1.3rem;
            color: $menuColorText;
            text-decoration: none;
            margin-right: 10px;
        }
    }
}