$backgroundColor: #ecf0f1;
$productColor: #34495e;
$white: #ffffff;
$black: #000000;
$alizarin: #e74c3c;
$showProductColor: rgba(102, 108, 232, 1);

@mixin flexbox ($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: $direction $wrap;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    .wrapper {
        .dimness {
            display: none;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: 100;
            &.dimness-visible {
                display: block;
                background-color: $black;
                opacity: 0.7;
            }
        }
        .search-result {
            h2 {
                text-align: center;
                margin: 0;
                margin-top: 80px;
            }
            .products {
                @include flexbox(row, wrap);
                justify-content: center;
                margin-top: 30px;
                .single-product {
                    border: 1px solid #c0c0c0;
                    background-color: $white;
                    margin: 5px;
                    width: 300px;
                    position: relative;
                    border-radius: 10px;
                    .product-header {
                        @include flexbox(column, nowrap);
                        align-items: center;
                        background: #ecf0f1;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        h4 {
                            font-size: 2rem;
                            font-weight: 100;
                            color: #0665A2;
                            text-align: center;
                        }
                        .img-wrapper {
                            margin-top: 10px;
                            margin-right: 10px;
                            img {
                                //width: 100%;
                            }
                        }
                    }
                    button {
                        border: none;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        //border-bottom-left-radius: 10px;
                        //border-bottom-right-radius: 10px;
                        background-color: $white;
                    }
                    .info {
                        margin: 10px 8%;
                        max-height: 150px;
                        overflow-y: auto;
                        color: $black;
                        font-size: 1.5rem;
                        font-weight: 100;
                        text-align: justify;
                    }
                    .show-product {
                        z-index: 99;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $showProductColor;
                        opacity: 0;
                        -webkit-transition: .4s ease-in-out;
                        -moz-transition: .4s ease-in-out;
                        transition: .4s ease-in-out;
                        button {
                            position: absolute;
                            bottom: 30px;
                            width: 50%;
                            margin: 0 25%;
                            border-radius: 20px;
                            padding: 10px 5px;
                            background-color: transparent;
                            border: 2px solid $white;
                            color: $white;
                            font-weight: 200;
                            -webkit-transition: .2s ease-in-out;
                            -moz-transition: .2s ease-in-out;
                            transition: .2s ease-in-out;
                            &:hover {
                                background-color: $white;
                                color: $showProductColor;
                            }
                        }
                    }
                    &:hover {
                        .show-product {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}