<article class="result">
	<div class="result-banner">	
		<div class="result-btn">
			<div id="show" class="form-group single-course">
				<h3 id="calculateTitle"></h3>
				<div class="form-control" rows="5" id="resultarea">
					<p id="text_info"></p>
					<ul>
						<li id="calculated"></li>
						<li id="date"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="banners">
			<div class="banner" data-banner-number="1">
				<a href="" onclick='onPromoClick("ubezpiecz-podroz", "https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.beforeyougo.pl%2F%3Futm_source%3Damoney.pl%26utm_medium%3Dportal%26utm_campaign%3Damoney_kalkulator_walut&h=ATNwGL73XAoM9Q8LXaFQpfrEEybUXbd2hI_yjDBFqBnDCK2jqenztxIcMCZ5bYmYJDjO4Smcj4e5vKpNiBGS-9y9W6287pLx88tGX06b4Os9OJ5W8K3gjaN3gYdxCKmWvb2h3AN59d2uBw")'><img src="/images/banners/banner_rabat.gif"></a>
			</div>
			<div class="banner" data-banner-number="2">
				<a href="" onclick='onPromoClick("ubezpiecz-podroz", "https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.beforeyougo.pl%2F%3Futm_source%3Damoney.pl%26utm_medium%3Dportal%26utm_campaign%3Damoney_kalkulator_walut&h=ATNwGL73XAoM9Q8LXaFQpfrEEybUXbd2hI_yjDBFqBnDCK2jqenztxIcMCZ5bYmYJDjO4Smcj4e5vKpNiBGS-9y9W6287pLx88tGX06b4Os9OJ5W8K3gjaN3gYdxCKmWvb2h3AN59d2uBw")'><img src="/images/banners/banner_rabat.gif"></a>
			</div>
		</div>
	</div>
	<div id="show" class="courses">
		<h3> Tabela kursów </h3>
		<div class="form-control" id="courseTable">
				<ul>
					<%nbpTable.forEach(function(entry){ %> 
						<li>Kurs <%=entry.code%> nbp = <%=entry.mid.toFixed(2)%> z dnia <%=date%></li>
					<% }) %>
				</ul>
		</div>
	</div>
</article>
<script>
function onPromoClick (name, redirect) {
          dataLayer.push({
            event: 'promotionClick',
            ecommerce: {
                promoClick: {
                    promotions: [{
                        name: name,
                        creative: 'banner',
                        position: 'slot1'
                    }]
                }
            },
            eventCallback: function() {
            	window.open(redirect);
            }
        });
    }
</script>
