<input class="form-control text-input" id="focusedInput" type="number" step="0.01" value="<%=amount%>" placeholder="Wartość">	
<button type="button" id="red" class="btn btn-default">Oblicz</button>
<!--<input type="button" id="red" class="btn btn-default" value="Oblicz" />-->
